Garmin_clean.json
{
  "name": "Garmin",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// ── 5K Trainingsschema (8 weeks, 3x per week) ────────────────────────────────\n// Based on RunAcademy/NN opbouwschema voor beginners\n// Structure: week 1-3 = run/walk intervals, week 4-6 = longer blocks,\n//            week 7-8 = doorrunning opbouw richting 5K\n\nconst SCHEMA = {\n  1: {\n    ma: { type: 'interval',   description: 'Warm-up 5min walking, then 8× (1min running + 1,5min walking), cool-down 5min walking', durationMin: 28, runMin: 8  },\n    wo: { type: 'interval',   description: 'Warm-up 5min walking, then 8× (1min running + 1,5min walking), cool-down 5min walking', durationMin: 28, runMin: 8  },\n    vr: { type: 'interval',   description: 'Warm-up 5min walking, then 8× (1,5min running + 1,5min walking), cool-down 5min walking', durationMin: 30, runMin: 12 },\n  },\n  2: {\n    ma: { type: 'interval',   description: 'Warm-up 5min walking, then 6× (2min running + 1min walking), cool-down 5min walking', durationMin: 28, runMin: 12 },\n    wo: { type: 'interval',   description: 'Warm-up 5min walking, then 6× (2min running + 1min walking), cool-down 5min walking', durationMin: 28, runMin: 12 },\n    vr: { type: 'interval',   description: 'Warm-up 5min walking, then 5× (3min running + 1,5min walking), cool-down 5min walking', durationMin: 32, runMin: 15 },\n  },\n  3: {\n    ma: { type: 'interval',   description: 'Warm-up 5min walking, then 4× (4min running + 2min walking), cool-down 5min walking', durationMin: 33, runMin: 16 },\n    wo: { type: 'interval',   description: 'Warm-up 5min walking, then 4× (4min running + 2min walking), cool-down 5min walking', durationMin: 33, runMin: 16 },\n    vr: { type: 'threshold',    description: 'Warm-up 5min walking, then 3× (6min running + 2min walking), cool-down 5min walking', durationMin: 33, runMin: 18 },\n  },\n  4: {\n    ma: { type: 'interval',   description: 'Warm-up 5min walking, then 3× (6min running + 2min walking), cool-down 5min walking', durationMin: 33, runMin: 18 },\n    wo: { type: 'endurance',   description: 'Warm-up 5min walking, then 20min easy run (Z2), cool-down 5min walking', durationMin: 30, runMin: 20 },\n    vr: { type: 'interval',   description: 'Warm-up 5min walking, then 2× (8min running + 2min walking), cool-down 5min walking', durationMin: 30, runMin: 16 },\n  },\n  5: {\n    ma: { type: 'endurance',   description: 'Warm-up 5min walking, then 22min easy run (Z2), cool-down 5min walking', durationMin: 32, runMin: 22 },\n    wo: { type: 'interval',   description: 'Warm-up 5min walking, then 4× (5min running + 1min walking), cool-down 5min walking', durationMin: 31, runMin: 20 },\n    vr: { type: 'endurance',   description: 'Warm-up 5min walking, then 25min easy run (Z2), cool-down 5min walking', durationMin: 35, runMin: 25 },\n  },\n  6: {\n    ma: { type: 'endurance',   description: 'Warm-up 5min walking, then 25min easy run (Z2), cool-down 5min walking', durationMin: 35, runMin: 25 },\n    wo: { type: 'tempo',      description: 'Warm-up 10min easy, then 10min iets sneller (Z3), cool-down 10min easy', durationMin: 30, runMin: 30 },\n    vr: { type: 'endurance',   description: 'Warm-up 5min walking, then 28min easy run (Z2), cool-down 5min walking', durationMin: 38, runMin: 28 },\n  },\n  7: {\n    ma: { type: 'endurance',   description: '30min easy run (Z2) without walking breaks', durationMin: 30, runMin: 30 },\n    wo: { type: 'tempo',      description: 'Warm-up 10min easy, 12min tempo (Z3-Z4), cool-down 8min easy', durationMin: 30, runMin: 30 },\n    vr: { type: 'lange loop', description: '33min easy run (Z2) — langste training tot nu toe', durationMin: 33, runMin: 33 },\n  },\n  8: {\n    ma: { type: 'endurance',   description: '30min easy run (Z2) — tapering, iets easyer', durationMin: 30, runMin: 30 },\n    wo: { type: 'activatie',  description: '20min easy inrunning + 4× 1min versnelling, cool-down 5min', durationMin: 25, runMin: 25 },\n    vr: { type: '5K poging',  description: '🏁 RACE DAY! Warm-up 10min walking, then zo ver en snel als je kunt running — stuur je tijd in!', durationMin: 45, runMin: 40 },\n  },\n};\n\n// ── Bepaal current training week ─────────────────────────────────────────────\n// Gebruik n8n static data om startdate bij te houden\nconst staticData = $getWorkflowStaticData('global');\n\n// Eerste run: sla startdate op\nif (!staticData.schema5KStartDatum) {\n  staticData.schema5KStartDatum = new Date().toISOString().split('T')[0];\n}\n\nconst startDatum = new Date(staticData.schema5KStartDatum);\nconst today    = new Date();\nconst dagVerschil = Math.floor((today - startDatum) / (1000 * 60 * 60 * 24));\nconst weekNr     = Math.min(Math.floor(dagVerschil / 7) + 1, 8);\nconst dagInWeek  = dagVerschil % 7; // 0=ma, 1=di, 2=wo, 3=do, 4=vr, 5=za, 6=zo\n\n// Bepaal welke trainingsdag today is (ma/wo/vr = trainingsdag, rest = rust)\nconst dagNamen = ['ma', 'di', 'wo', 'do', 'vr', 'za', 'zo'];\nconst dagNaamVandaag = dagNamen[dagInWeek];\nconst weekSchema = SCHEMA[weekNr] || SCHEMA[8];\nconst trainingVandaag = weekSchema[dagNaamVandaag] || null;\n\n// Volgende trainingsdag bepalen\nlet nextTraining = null;\nlet nextNaam = null;\nfor (let i = 1; i <= 7; i++) {\n  const nextDag = dagNamen[(dagInWeek + i) % 7];\n  if (weekSchema[nextDag]) {\n    const dateVolgende = new Date(today);\n    dateVolgende.setDate(dateVolgende.getDate() + i);\n    nextTraining = weekSchema[nextDag];\n    nextNaam = dateVolgende.toLocaleDateString('nl-NL', { weekday: 'long', day: 'numeric', month: 'short' });\n    break;\n  }\n}\n\n// Vorige training (voor context)\nlet previousTraining = null;\nfor (let i = 1; i <= 7; i++) {\n  const previousDag = dagNamen[((dagInWeek - i) + 7) % 7];\n  if (weekSchema[previousDag]) {\n    previousTraining = weekSchema[previousDag];\n    break;\n  }\n}\n\n// Voortgang berekenen\nconst totaalTrainingsdagen = Object.keys(SCHEMA).reduce((s, w) => s + Object.keys(SCHEMA[w]).length, 0);\nconst gedaanTrainingsdagen = (weekNr - 1) * 3 + Object.keys(weekSchema).filter(d => {\n  const dagIdx = dagNamen.indexOf(d);\n  return dagIdx <= dagInWeek;\n}).length;\nconst voortgangPct = Math.round(gedaanTrainingsdagen / totaalTrainingsdagen * 100);\n\n// Schema samenvatting voor Groq\nconst scheduleContext = {\n  weekNr,\n  dagNaamVandaag,\n  isTrainingsdag: trainingVandaag !== null,\n  startDatum: staticData.schema5KStartDatum,\n  dagVerschil,\n  voortgangPct,\n  gedaanTrainingsdagen,\n  totaalTrainingsdagen,\n\n  // Vandaag\n  todayTraining: trainingVandaag ? {\n    type:        trainingVandaag.type,\n    description: trainingVandaag.description,\n    durationMin:     trainingVandaag.durationMin,\n    runMin:     trainingVandaag.runMin,\n  } : null,\n\n  // Volgende training\n  nextTraining: nextTraining ? {\n    date:        nextNaam,\n    type:         nextTraining.type,\n    description: nextTraining.description,\n    durationMin:      nextTraining.durationMin,\n  } : null,\n\n  // Hele week overzicht\n  weekOverzicht: Object.entries(weekSchema).map(([dag, t]) => `${dag}: ${t.type} — ${t.durationMin}min`).join(' | '),\n\n  // Race prediction context\n  huidig5KTijd: null, // wordt ingevuld door garmin data\n};\n\n// ── Readiness-adjustment van de training ─────────────────────────────────────\nconst garminData = $input.first().json;\nscheduleContext.huidig5KTijd = garminData.racePredictions?.vijfKm ?? null;\n\nconst readiness = garminData.trainingReadiness;\nconst score     = readiness?.score ?? 100;\nconst level     = (readiness?.level ?? '').toUpperCase();\nconst acuut     = garminData.trainingStatus?.acuutLoad    ?? null;\nconst chronisch = garminData.trainingStatus?.chronischLoad ?? null;\nconst acwrStatus = garminData.trainingStatus?.acwrStatus   ?? null;\n\n// Bepaal adjustmentsniveau\n// Groen  (≥70, acwrStatus OPTIMAL/HIGH): volg schema normaal\n// Oranje (40-69, of acwrStatus LOW):     lichter uitvoeren\n// Rood   (<40, of level LOW/RECOVERY):   rest day aanbevolen\n\nlet adjustment = 'normaal';\nlet adjustmentReden = null;\nlet adjustmentTraining = null;\n\nif (score < 40 || level === 'LOW' || level === 'RECOVERY' || level === 'POOR') {\n  adjustment = 'rust';\n  adjustmentReden = `Readiness ${score}/100 (${level}) — physical load too high for training today.`;\n  adjustmentTraining = {\n    type: 'recovery walk',\n    description: `No running training today. Optional: 20-30 minutes easy walk at Z1 (heart rate below ${Math.round((220 - 54) * 0.6)}bpm). Focus on sleep and nutrition.`,\n    durationMin: 0,\n    runMin: 0,\n  };\n} else if (score < 70 || acwrStatus === 'LOW' || (acuut !== null && chronisch !== null && acuut < chronisch * 0.4)) {\n  adjustment = 'licht';\n  adjustmentReden = `Readiness ${score}/100 (${level}) — adjusting plan to lighter variant.`;\n  // Maak de geplande training lichter\n  if (scheduleContext.todayTraining) {\n    const orig = scheduleContext.todayTraining;\n    const kortereLoopMin = Math.max(Math.round(orig.runMin * 0.65), 8);\n    adjustmentTraining = {\n      type: orig.type + ' (licht)',\n      description: orig.description\n        .replace(/(\\d+)min running/g, (_, m) => `${Math.round(m * 0.65)}min running`)\n        .replace(/(\\d+)× \\(/g, (_, n) => `${Math.max(Math.round(n * 0.65), 2)}× (`)\n        + ` — LIGHTER VARIANT: run in Z1-Z2 (heart rate below ${Math.round((220 - 54) * 0.7)}bpm), stop when you feel tired.`,\n      durationMin: Math.round(orig.durationMin * 0.75),\n      runMin: kortereLoopMin,\n    };\n  }\n} else {\n  adjustment = 'normaal';\n  adjustmentReden = `Readiness ${score}/100 (${level}) — following plan as scheduled.`;\n  adjustmentTraining = scheduleContext.todayTraining;\n}\n\n// Voeg toe aan scheduleContext\nscheduleContext.adjustment        = adjustment;          // 'normaal' | 'licht' | 'rust'\nscheduleContext.adjustmentReden   = adjustmentReden;\nscheduleContext.adjustmentTraining = adjustmentTraining; // de aangepaste training\nscheduleContext.origineelTraining  = scheduleContext.todayTraining; // bewaar origineel\nscheduleContext.readinessScore    = score;\nscheduleContext.readinessLevel    = level;\n\n// Overschrijf todayTraining met de aangepaste versie\nif (adjustmentTraining) {\n  scheduleContext.todayTraining = adjustmentTraining;\n}\n\nreturn [{ json: { ...garminData, scheduleContext } }];"
      },
      "id": "9dfb5f51-e85d-4aba-b73d-0c6f8ed41ae1",
      "name": "Haal 5K Schema op",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        17664,
        7152
      ]
    },
    {
      "parameters": {
        "jsCode": "\n// Sla nieuwe advice op in n8n Static Data\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.advice) staticData.advice = [];\nif (!staticData.gegenereerd_op) staticData.gegenereerd_op = [];\n\nconst input       = $input.first().json;\nconst { analyse, garminData } = input;\nconst today     = new Date().toISOString();\nconst dateLabel  = today.split('T')[0];\n\n// Secties om advice uit te halen\nconst secties = [\n  { marker: 'Top 5 Sleep advice',   categorie: 'Sleep' },\n  { marker: 'Top 5 Movement advice', categorie: 'Movement' },\n  { marker: 'Goals for next week', categorie: 'Goal' },\n  { marker: 'Actions for today',  categorie: 'Action' },\n];\n\nconst nieuweAdviezen = [];\nlet overgeslagen = 0;\n\nfor (const sectie of secties) {\n  const idx = analyse.indexOf(sectie.marker);\n  if (idx === -1) continue;\n\n  // Pak ~600 tekens na de sectie-header\n  const stuk = analyse.slice(idx, idx + 600);\n  const re = /^\\d+\\.\\s+(.+)$/gm;\n  let m;\n\n  while ((m = re.exec(stuk)) !== null) {\n    const titelRuw = m[1].trim().replace(/\\[.*?\\]/g, '').trim();\n    if (titelRuw.length < 5) continue;\n\n    const key = titelRuw.slice(0, 60).toLowerCase();\n    const bestaat = staticData.advice.some(\n      a => a.titel.slice(0, 60).toLowerCase() === key\n    );\n\n    if (!bestaat) {\n      nieuweAdviezen.push({\n        id:         `${dateLabel}-${sectie.categorie}-${nieuweAdviezen.length}`,\n        date:      today,\n        categorie:  sectie.categorie,\n        titel:      titelRuw,\n        feedback:   null,\n        herhaalCount: 0\n      });\n    } else {\n      // Verhoog teller op bestaand advies\n      const bestaand = staticData.advice.find(\n        a => a.titel.slice(0, 60).toLowerCase() === key\n      );\n      if (bestaand) bestaand.herhaalCount = (bestaand.herhaalCount || 0) + 1;\n      overgeslagen++;\n    }\n  }\n}\n\n// Voeg nieuwe advice toe en bewaar max 200 (FIFO)\nstaticData.advice = [...staticData.advice, ...nieuweAdviezen].slice(-200);\nstaticData.gegenereerd_op = [...staticData.gegenereerd_op, today].slice(-90);\n\n// Statistieken voor rapport\nconst geheugenStats = {\n  totaalAdviezen: staticData.advice.length,\n  nieuweVandaag:  nieuweAdviezen.length,\n  overgeslagen\n};\n\nreturn [{ json: { analyse, garminData, geheugenStats } }];\n"
      },
      "id": "61ed2c11-a70e-4afb-bc08-d9a97d679818",
      "name": "Sla Aanbevelingen op",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        17984,
        7152
      ]
    },
    {
      "parameters": {
        "jsCode": "\n// Laad adviesgeheugen via n8n Static Data (no fs, no externe modules nodig)\nconst staticData = $getWorkflowStaticData('global');\n\n// Initialiseer als leeg als het nog niet bestaat\nif (!staticData.advice) staticData.advice = [];\nif (!staticData.gegenereerd_op) staticData.gegenereerd_op = [];\n\nconst advice = staticData.advice;\nconst aantalAdviezen = advice.length;\n\n// Sorteer op date, pak laatste 40\nconst laatste40 = [...advice]\n  .sort((a, b) => new Date(b.date) - new Date(a.date))\n  .slice(0, 40);\n\n// Groepeer per categorie\nconst perCategorie = {};\nfor (const adv of laatste40) {\n  const cat = adv.categorie || 'Other';\n  if (!perCategorie[cat]) perCategorie[cat] = [];\n  perCategorie[cat].push(adv);\n}\n\n// Bouw leesbare tekst voor de Groq-prompt\nlet geheugenTekst = `## PREVIOUSLY GIVEN ADVICE (last 40 of total ${aantalAdviezen})\\n`;\ngeheugenTekst += `Avoid repeating this advice unless data shows it is still critical.\\n\\n`;\n\nif (aantalAdviezen === 0) {\n  geheugenTekst += '_No previous advice yet — this is the first run._\\n';\n} else {\n  for (const [cat, items] of Object.entries(perCategorie)) {\n    geheugenTekst += `### ${cat}\\n`;\n    for (const item of items) {\n      const date = (item.date || '').split('T')[0];\n      let regel = `- [${date}] ${item.titel}`;\n      if (item.feedback) regel += ` → Feedback: \"${item.feedback}\"`;\n      geheugenTekst += regel + '\\n';\n    }\n    geheugenTekst += '\\n';\n  }\n}\n\n// Geef garminData + geheugencontext door\nconst garminData = $input.first().json;\nreturn [{ json: {\n  ...garminData,\n  geheugen: { advice, gegenereerd_op: staticData.gegenereerd_op },\n  geheugenTekst,\n  aantalAdviezen\n}}];\n"
      },
      "id": "61801c91-2fe8-4fb1-8afe-57b764823040",
      "name": "Laad Adviesgeheugen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        17504,
        7152
      ]
    },
    {
      "parameters": {
        "fromEmail": "[jouw afzender e-mailadres]",
        "toEmail": "[jouw ontvanger e-mailadres]",
        "subject": "={{ $json.onderwerp }}",
        "html": "={{ $json.html }}",
        "options": {
          "ccEmail": ""
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        18352,
        7152
      ],
      "id": "73ca377b-5072-449e-9aca-7a46b4cf6dd8",
      "name": "Verstuur E-mail",
      "webhookId": "[automatisch gegenereerd]",
      "credentials": {
        "smtp": {
          "id": "[jouw SMTP credential ID]",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const { analyse, garminData, geheugenStats } = $input.first().json;\nconst gem  = garminData.gemiddelden;\nconst geheugenbadge = geheugenStats\n  ? `<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\"><tr><td style=\"background:#f0fdf4;border:1px solid #86efac;border-radius:10px;padding:12px 16px;font-size:13px;color:#166534;font-family:Arial,sans-serif\">\n       🧠 <strong>Adviesgeheugen actief</strong> — ${geheugenStats.nieuweVandaag} nieuwe · ${geheugenStats.overgeslagen ?? 0} overgeslagen · Totaal ${geheugenStats.totaalAdviezen}\n     </td></tr></table><br>`\n  : '';\nconst tr   = garminData.trends;\nconst SD   = garminData.sleepData    || [];\nconst STAP = garminData.stapsData    || [];\nconst HR   = garminData.heart rateData || [];\nconst ST   = garminData.stressData   || [];\nconst HRV  = garminData.hrvData      || [];\nconst GW   = garminData.weightData  || [];\nconst TR   = garminData.trainingReadiness;\nconst SC   = garminData.scheduleContext || null;\nconst TS   = garminData.trainingStatus;\nconst VO2  = garminData.vo2maxData   || [];\nconst RACE = garminData.racePredictions;\n\nconst nu = new Date();\nconst stapDoel = gem.stapDoel || 8000;\nconst dateStr = nu.toLocaleDateString('nl-NL', { weekday:'long', year:'numeric', month:'long', day:'numeric' });\n\nfunction formatDatum(isoStr) {\n  if (!isoStr) return '?';\n  const dt = new Date(isoStr + 'T00:00:00');\n  const dag = dt.toLocaleDateString('nl-NL', { weekday: 'long' });\n  const d2  = dt.toLocaleDateString('nl-NL', { day: 'numeric', month: 'long' });\n  return `${d2} (${dag})`;\n}\nconst dagLabels = SD.map(d => {\n  const dt = new Date(d.date);\n  return dt.toLocaleDateString('nl-NL',{weekday:'short'}).slice(0,2) + dt.getDate();\n});\n\n// ─── GRAFIEK HELPERS (Gmail-safe: alleen tables/td) ───────────────────────\nconst GRAFIEK_BREEDTE = 280;\nconst N = dagLabels.length || 7;\nconst COL_W = Math.floor(GRAFIEK_BREEDTE / N);\nconst BAR_W = Math.max(COL_W - 6, 8);\n\nfunction staafGrafiek(items, hoogte, barDataFn, dagLabelsFn) {\n  const cols = items.map((item, i) => {\n    const bars = barDataFn(item);\n    const dagLbl = dagLabelsFn ? dagLabelsFn(i) : (dagLabels[i] || '');\n    const pixelBars = bars.map(b => ({\n      ...b, px: Math.max(Math.round((b.pct || 0) * hoogte / 100), (b.pct > 0 ? 2 : 0))\n    })).filter(b => b.px > 0);\n    const totaalPx = pixelBars.reduce((s, b) => s + b.px, 0);\n    const leegte = Math.max(hoogte - totaalPx, 0);\n    const labelBoven = bars.find(b => b.label)?.label || '';\n    const labelKleur = pixelBars.length > 0 ? pixelBars[pixelBars.length - 1].kleur : '#999';\n    const barsVanBovenNaarOnder = [...pixelBars].reverse();\n    let rijen = '';\n    if (leegte > 0) rijen += `<tr><td width=\"${BAR_W}\" height=\"${leegte}\" style=\"height:${leegte}px;font-size:0;line-height:0\">&nbsp;</td></tr>`;\n    barsVanBovenNaarOnder.forEach(b => {\n      rijen += `<tr><td width=\"${BAR_W}\" height=\"${b.px}\" style=\"background:${b.kleur};height:${b.px}px;font-size:0;line-height:0\">&nbsp;</td></tr>`;\n    });\n    return `<td width=\"${COL_W}\" style=\"vertical-align:bottom;text-align:center;padding:0 3px\">\n      ${labelBoven ? `<div style=\"font-size:9px;font-weight:700;color:${labelKleur};font-family:Arial,sans-serif;line-height:1.2;margin-bottom:1px\">${labelBoven}</div>` : ''}\n      <table cellpadding=\"0\" cellspacing=\"0\" width=\"${BAR_W}\" style=\"margin:0 auto;border-collapse:collapse\">${rijen}</table>\n      <div style=\"font-size:9px;color:#aaa;font-family:Arial,sans-serif;margin-top:3px;line-height:1.2\">${dagLbl}</div>\n    </td>`;\n  }).join('');\n  return `<table cellpadding=\"0\" cellspacing=\"0\" style=\"border-collapse:collapse;width:${GRAFIEK_BREEDTE}px\"><tr valign=\"bottom\">${cols}</tr></table>`;\n}\n\nfunction puntGrafiek(items, hoogte, valFn, kleur, labelFn) {\n  const waarden = items.map(valFn).map(v => (v && v > 0) ? v : null);\n  const geldig  = waarden.filter(v => v !== null);\n  if (geldig.length === 0) {\n    return `<table cellpadding=\"0\" cellspacing=\"0\" style=\"width:${GRAFIEK_BREEDTE}px\"><tr><td style=\"text-align:center;color:#ccc;font-size:11px;padding:16px 0;font-family:Arial,sans-serif\">No data available</td></tr></table>`;\n  }\n  const minV = Math.min(...geldig);\n  const maxV = Math.max(...geldig);\n  const range = maxV - minV || 1;\n  const dotH = 8;\n  const cols = items.map((item, i) => {\n    const val = waarden[i];\n    const dagLbl = dagLabels[i] || '';\n    if (val === null) {\n      return `<td width=\"${COL_W}\" style=\"text-align:center;padding:0 3px\"><div style=\"height:${hoogte + 16}px\"></div><div style=\"font-size:9px;color:#aaa;font-family:Arial,sans-serif\">${dagLbl}</div></td>`;\n    }\n    const pct = (val - minV) / range;\n    const dotVanOnder = Math.round(pct * (hoogte - dotH));\n    const boven = hoogte - dotVanOnder - dotH;\n    const label = labelFn ? labelFn(val) : String(val);\n    return `<td width=\"${COL_W}\" style=\"vertical-align:top;text-align:center;padding:0 3px\">\n      <table cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"border-collapse:collapse\">\n        <tr><td height=\"${Math.max(boven - 14, 0)}\" style=\"height:${Math.max(boven - 14, 0)}px;font-size:0;line-height:0\">&nbsp;</td></tr>\n        <tr><td style=\"text-align:center;font-size:9px;font-weight:700;color:${kleur};font-family:Arial,sans-serif;line-height:1.2\">${label}</td></tr>\n        <tr><td height=\"4\" style=\"height:4px;font-size:0;line-height:0\">&nbsp;</td></tr>\n        <tr><td style=\"text-align:center\"><div style=\"width:8px;height:8px;background:${kleur};border-radius:50%;border:2px solid white;outline:1px solid ${kleur};margin:0 auto;font-size:0;line-height:0\">&nbsp;</div></td></tr>\n        <tr><td height=\"${Math.max(dotVanOnder, 0)}\" style=\"height:${Math.max(dotVanOnder, 0)}px;font-size:0;line-height:0\">&nbsp;</td></tr>\n      </table>\n      <div style=\"font-size:9px;color:#aaa;font-family:Arial,sans-serif;margin-top:2px;line-height:1.2\">${dagLbl}</div>\n    </td>`;\n  }).join('');\n  return `<table cellpadding=\"0\" cellspacing=\"0\" style=\"border-collapse:collapse;width:${GRAFIEK_BREEDTE}px\"><tr valign=\"top\">${cols}</tr></table>`;\n}\n\n// ─── GRAFIEKEN ────────────────────────────────────────────────────────────\n\n// G1: Slaap gestapeld\nconst maxSlaap = Math.max(...SD.map(d => d.totaalUur || 0), 9);\nconst grafiek1 = staafGrafiek(SD, 100,\n  d => [\n    { pct: (d.lightUur || 0) / maxSlaap * 100, kleur: '#90caf9' },\n    { pct: (d.remUur   || 0) / maxSlaap * 100, kleur: '#7c4dff' },\n    { pct: (d.diepUur  || 0) / maxSlaap * 100, kleur: '#1565c0', label: d.totaalUur > 0 ? d.totaalUur + 'u' : '' }\n  ]\n);\n\n// G1b: Slaapscore\nconst grafiek1b = puntGrafiek(SD, 50, d => d.score, '#ff6f00');\n\n// G2: Stappen\nconst maxStap = Math.max(...STAP.map(d => Math.max(d.steps || 0, d.stapDoel || 0)), stapDoel);\nconst grafiek2 = staafGrafiek(STAP, 90,\n  d => {\n    const pct = (d.steps || 0) / maxStap * 100;\n    const klr = (d.steps || 0) >= (d.stapDoel || stapDoel) ? '#4caf50'\n              : (d.steps || 0) >= (d.stapDoel || stapDoel) * 0.75 ? '#ff9800' : '#f44336';\n    return [{ pct, kleur: klr, label: d.steps > 0 ? (Math.round(d.steps / 100) / 10).toFixed(1) + 'k' : '' }];\n  }\n);\n\n// G3a: Rustpols\nconst hrMerged = HR.map((d, i) => ({ ...d, rustpols: d.rustpols || (STAP[i] && STAP[i].rustpols) || null }));\nconst grafiek3a = puntGrafiek(hrMerged, 70, d => d.rustpols, '#e53935');\n\n// G3b: HRV\nconst grafiek3b = puntGrafiek(HRV, 70, d => d.weekGem, '#00897b');\n\n// G4: Stress\nconst stressComponentenSom = ST.map(d => (d.rustMin||0)+(d.laagMin||0)+(d.middenMin||0)+(d.hoogMin||0));\nconst heeftStressComponenten = stressComponentenSom.some(v => v > 0);\nconst stressPuntData = ST.map((d,i) => ({ gemStress: (d.gemStress&&d.gemStress>0)?d.gemStress:(STAP[i]&&STAP[i].gemStress&&STAP[i].gemStress>0)?STAP[i].gemStress:null }));\nconst heeftStressPunten = stressPuntData.some(d => d.gemStress);\nlet grafiek4;\nif (heeftStressComponenten) {\n  const maxStress = Math.max(...stressComponentenSom, 60);\n  grafiek4 = staafGrafiek(ST, 90, d => [\n    { pct: (d.rustMin   || 0) / maxStress * 100, kleur: '#a5d6a7' },\n    { pct: (d.laagMin   || 0) / maxStress * 100, kleur: '#ffe082' },\n    { pct: (d.middenMin || 0) / maxStress * 100, kleur: '#ffb74d' },\n    { pct: (d.hoogMin   || 0) / maxStress * 100, kleur: '#ef5350', label: d.gemStress ? String(d.gemStress) : '' }\n  ]);\n} else if (heeftStressPunten) {\n  grafiek4 = puntGrafiek(stressPuntData, 70, d => d.gemStress, '#ff9800', v => String(v));\n} else {\n  grafiek4 = '<div style=\"text-align:center;color:#ccc;font-size:11px;padding:16px;font-family:Arial,sans-serif\">No stress data available</div>';\n}\n\n// G5: Body Battery\nconst grafiek5 = staafGrafiek(STAP, 90,\n  d => {\n    if (!d.bbHoog && !d.bbLaag) return [{ pct: 0, kleur: '#eee' }];\n    const klr = (d.bbHoog || 0) >= 60 ? '#42a5f5' : (d.bbHoog || 0) >= 40 ? '#ffb74d' : '#ef5350';\n    return [\n      { pct: d.bbLaag || 0, kleur: '#f0f0f0' },\n      { pct: Math.max((d.bbHoog || 0) - (d.bbLaag || 0), 1), kleur: klr, label: d.bbHoog ? String(d.bbHoog) : '' }\n    ];\n  }\n);\n\n// ─── HELPERS ─────────────────────────────────────────────────────────────\nconst kleurFn = (v, g, o) => v >= g ? '#2e7d32' : v >= o ? '#e65100' : '#c62828';\n\nconst balk = (pct, klr) => {\n  const p = Math.min(Math.max(Math.round(pct || 0), 0), 100);\n  const rest = 100 - p;\n  if (p === 0) return `<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-top:5px\"><tr><td style=\"background:#e8e8e8;height:5px;border-radius:3px;font-size:0;line-height:0\">&nbsp;</td></tr></table>`;\n  return `<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-top:5px\"><tr>\n    <td width=\"${p}%\" style=\"background:${klr};height:5px;border-radius:3px;font-size:0;line-height:0\">&nbsp;</td>\n    ${rest > 0 ? `<td width=\"${rest}%\" style=\"background:#e8e8e8;height:5px;border-radius:3px;font-size:0;line-height:0\">&nbsp;</td>` : ''}\n  </tr></table>`;\n};\n\nconst kaart = (w, lbl, klr, pct = null) =>\n  `<td width=\"50%\" style=\"padding:3px\">\n    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#fafafa;border-radius:10px;border-top:4px solid ${klr}\">\n      <tr><td style=\"text-align:center;padding:12px 8px\">\n        <div style=\"font-size:22px;font-weight:900;color:${klr};font-family:Arial,sans-serif;line-height:1.2\">${w}</div>\n        <div style=\"color:#888;font-size:11px;font-family:Arial,sans-serif;margin-top:4px;line-height:1.4\">${lbl}</div>\n        ${pct !== null ? balk(pct, klr) : ''}\n      </td></tr>\n    </table>\n  </td>`;\n\nconst legL = (klr, lbl) =>\n  `<span style=\"display:inline-block;margin-right:8px;font-size:11px;color:#555;font-family:Arial,sans-serif\">\n    <span style=\"display:inline-block;width:10px;height:10px;background:${klr};border-radius:2px;vertical-align:middle;margin-right:3px\"></span>${lbl}\n  </span>`;\n\nconst grafiekBlok = (titel, legenda, grafiek) =>\n  `<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom:22px\">\n    <tr><td style=\"padding-bottom:6px\">\n      <div style=\"font-size:14px;font-weight:800;color:#1a1a2e;font-family:Arial,sans-serif\">${titel}</div>\n      <div style=\"margin-top:4px\">${legenda}</div>\n    </td></tr>\n    <tr><td>${grafiek}</td></tr>\n  </table>`;\n\n// ─── ANALYSE → HTML ──────────────────────────────────────────────────────\nconst htmlAnalyse = analyse\n  .replace(/\\*\\*(.+?)\\*\\*/g, '<strong>$1</strong>')\n  .replace(/^#{1,3} (.+)$/gm, (_, t) =>\n    `<div style=\"color:#1a1a2e;margin:20px 0 8px;font-size:15px;font-weight:800;font-family:Arial,sans-serif;border-left:3px solid #1a1a2e;padding-left:10px;line-height:1.4\">${t}</div>`)\n  .replace(/^(\\d+)\\. /gm, (_, n) => `<br><strong style=\"color:#1a1a2e;font-family:Arial,sans-serif\">${n}.</strong> `)\n  .replace(/✅/g, '<span style=\"color:#2e7d32\">✅</span>')\n  .replace(/🟡/g, '<span style=\"color:#f57f17\">🟡</span>')\n  .replace(/❌/g, '<span style=\"color:#c62828\">❌</span>')\n  .replace(/▲/g, '<span style=\"color:#2e7d32;font-weight:bold\">▲</span>')\n  .replace(/▼/g, '<span style=\"color:#c62828;font-weight:bold\">▼</span>')\n  .replace(/\\n\\n/g, '</p><p style=\"margin:10px 0;line-height:1.85;font-family:Arial,sans-serif;font-size:14px;color:#1a1a1a\">')\n  .replace(/\\n/g, '<br>');\n\nconst trendPijl = tr.sleepTrend > 0.2 ? '📈' : tr.sleepTrend < -0.2 ? '📉' : '➡️';\n\n// ─── Training Readiness badge ─────────────────────────────────────────────\nconst readinessBadge = TR\n  ? (() => {\n      const score = TR.score ?? 0;\n      const kleur = score >= 70 ? '#2e7d32' : score >= 40 ? '#e65100' : '#c62828';\n      const bg    = score >= 70 ? '#e8f5e9' : score >= 40 ? '#fff3e0' : '#ffebee';\n      return `<span style=\"display:inline-block;background:${bg};color:${kleur};padding:6px 10px;border-radius:16px;font-size:11px;font-weight:600;margin:3px 0;font-family:Arial,sans-serif\">🔋 Readiness ${score}/100 — ${TR.statusNL ?? TR.status ?? 'n/a'}</span>`;\n    })()\n  : '';\n\n// ─── Race predictions badge ───────────────────────────────────────────────\nconst raceBadge = RACE && RACE.vijfKm\n  ? `<span style=\"display:inline-block;background:#f3e5f5;color:#6a1b9a;padding:6px 10px;border-radius:16px;font-size:11px;font-weight:600;margin:3px 0;font-family:Arial,sans-serif\">🏁 5K: ${RACE.vijfKm} · 10K: ${RACE.tienKm??'n/a'}</span>`\n  : '';\n\nconst hardloopCtx = garminData.hardloopContext || {};\nconst hardloopBadge = (hardloopCtx.aantalSessiesDezeWeek || 0) > 0\n  ? `<span style=\"display:inline-block;background:#e8f5e9;color:#1b5e20;padding:6px 10px;border-radius:16px;font-size:11px;font-weight:600;margin:3px 0;font-family:Arial,sans-serif\">🏃 ${hardloopCtx.aantalSessiesDezeWeek} sessie(s) · ${hardloopCtx.totaalKmDezeWeek}km</span>`\n  : `<span style=\"display:inline-block;background:#fff3e0;color:#e65100;padding:6px 10px;border-radius:16px;font-size:11px;font-weight:600;margin:3px 0;font-family:Arial,sans-serif\">🏃 No running sessions</span>`;\n\n// ─── Training Status badge ────────────────────────────────────────────────\nconst statusBadge = TS\n  ? `<span style=\"display:inline-block;background:#e8eaf6;color:#283593;padding:6px 10px;border-radius:16px;font-size:11px;font-weight:600;margin:3px 0;font-family:Arial,sans-serif\">📊 ${TS.statusNL ?? TS.status ?? 'n/a'}</span>`\n  : '';\n\n// ─── HTML ─────────────────────────────────────────────────────────────────\nconst html = `<!DOCTYPE html>\n<html lang=\"nl\">\n<head><meta charset=\"utf-8\"><meta name=\"viewport\" content=\"width=device-width,initial-scale=1\"></head>\n<body style=\"margin:0;padding:10px;background:#eef0f3;font-family:Arial,sans-serif\">\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"max-width:480px;margin:0 auto\"><tr><td>\n\n${geheugenbadge}\n\n<!-- HEADER -->\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#1a1a2e;border-radius:16px 16px 0 0\">\n<tr><td style=\"padding:28px 20px 22px;text-align:center\">\n  <div style=\"font-size:40px;line-height:1;margin-bottom:6px\">⌚</div>\n  <div style=\"color:white;font-size:21px;font-weight:900;font-family:Arial,sans-serif;line-height:1.3\">Garmin Dagrapport</div>\n  <div style=\"color:rgba(255,255,255,0.55);font-size:12px;margin-top:5px;font-family:Arial,sans-serif\">${dateStr}</div>\n  <table cellpadding=\"0\" cellspacing=\"0\" style=\"margin:12px auto 0\"><tr>\n    <td style=\"background:rgba(255,255,255,0.13);padding:8px 14px;border-radius:20px;font-size:12px;color:white;font-family:Arial,sans-serif;line-height:1.6;text-align:center\">\n      ${trendPijl} Sleep ${tr.sleepTrend > 0 ? '+' : ''}${tr.sleepTrend}h &nbsp;·&nbsp; ${tr.dagenDoelGehaald}/7 step days &nbsp;·&nbsp; ${gem.gemRustpols ?? '?'}bpm &nbsp;·&nbsp; VO2max ${gem.vo2maxHuidig ?? '?'}\n    </td>\n  </tr></table>\n</td></tr>\n</table>\n\n<!-- KAARTJES -->\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:white;border-bottom:1px solid #f0f0f0\">\n<tr><td style=\"padding:14px\">\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom:6px\"><tr>\n    ${kaart(gem.sleepUur + 'u', 'Gem. sleep/nacht', kleurFn(gem.sleepUur, 7.5, 6.5), Math.round(gem.sleepUur / 8.5 * 100))}\n    ${kaart(gem.sleepScore, 'Gem. sleepscore', kleurFn(gem.sleepScore, 75, 60), gem.sleepScore)}\n  </tr></table>\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom:6px\"><tr>\n    ${kaart((gem.gemStappen || 0).toLocaleString('nl-NL'), `Avg. steps/day (goal ${stapDoel.toLocaleString('nl-NL')})`, kleurFn(gem.gemStappen, stapDoel, stapDoel * 0.625), Math.round((gem.gemStappen || 0) / stapDoel * 100))}\n    ${kaart(gem.gemBodyBattery ?? 'n/a', 'Avg. Body Battery', kleurFn(gem.gemBodyBattery || 0, 60, 40), gem.gemBodyBattery || 0)}\n  </tr></table>\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom:6px\"><tr>\n    ${kaart(gem.gemRustpols ?? 'n/a', 'Avg. resting HR bpm', kleurFn(100 - (gem.gemRustpols || 70), 30, 10))}\n    ${kaart(gem.gemHRV ?? 'n/a', 'HRV weekly avg', kleurFn(gem.gemHRV || 0, 40, 25))}\n  </tr></table>\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom:6px\"><tr>\n    ${kaart(gem.gemStressWeek ?? 'n/a', 'Avg. stress week', kleurFn(100 - (gem.gemStressWeek || 50), 60, 30))}\n    ${kaart(gem.vo2maxHuidig ?? 'n/a', 'VO2max', kleurFn(gem.vo2maxHuidig || 0, 45, 38), gem.vo2maxHuidig ? Math.round(gem.vo2maxHuidig / 60 * 100) : null)}\n  </tr></table>\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom:6px\"><tr>\n    ${kaart((tr.totaalIntMid + tr.totaalIntHoog) + 'min', 'Intensity min (goal 150)', (tr.totaalIntMid + tr.totaalIntHoog) >= 150 ? '#2e7d32' : '#e65100', Math.round((tr.totaalIntMid + tr.totaalIntHoog) / 150 * 100))}\n    ${kaart(tr.dagenDoelGehaald + '/10', 'Days step goal met', tr.dagenDoelGehaald >= 5 ? '#2e7d32' : tr.dagenDoelGehaald >= 3 ? '#e65100' : '#c62828')}\n  </tr></table>\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\"><tr>\n    ${kaart((gem.weightHuidig ?? 'n/a') + (gem.weightHuidig ? 'kg' : ''), 'Weight' + (gem.weightDelta !== null ? ` (${gem.weightDelta > 0 ? '+' : ''}${gem.weightDelta}kg)` : ''), '#795548')}\n    ${TR ? kaart((TR.score??'n/a')+'/100', 'Training Readiness', kleurFn(TR.score||0, 70, 40), TR.score||0) : kaart('n/a', 'Training Readiness', '#aaa')}\n  </tr></table>\n  <!-- 5K SCHEMA KAARTJE -->\n  ${SC ? `<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom:8px\">\n  <tr><td style=\"background:${SC.isTrainingsdag ? '#e8f5e9' : '#f3e5f5'};border-left:4px solid ${SC.isTrainingsdag ? '#2e7d32' : '#7b1fa2'};border-radius:8px;padding:14px 16px\">\n    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\"><tr>\n      <td style=\"vertical-align:top\">\n        <div style=\"font-size:13px;font-weight:800;color:${SC.adjustment === 'rust' ? '#b71c1c' : SC.adjustment === 'licht' ? '#e65100' : SC.isTrainingsdag ? '#1b5e20' : '#4a148c'};font-family:Arial,sans-serif;margin-bottom:6px\">\n          ${SC.adjustment === 'rust' ? '⛔ Rest day (readiness too low)' : SC.adjustment === 'licht' ? '⚠️ Light training (readiness moderate)' : SC.isTrainingsdag ? '🏃 Training day' : '😴 Rest day'} — Week ${SC.weekNr}/8\n        </div>\n        ${SC.adjustmentReden ? `<div style=\"font-size:11px;color:#666;font-family:Arial,sans-serif;margin-bottom:6px;font-style:italic\">${SC.adjustmentReden}</div>` : ''}\n        <div style=\"font-size:12px;color:#333;font-family:Arial,sans-serif;line-height:1.6\">\n          ${SC.todayTraining\n            ? `<strong>${SC.todayTraining.type}</strong> · ${SC.todayTraining.durationMin} min<br><span style=\"color:#555\">${SC.todayTraining.description}</span>`\n            : `Rest and recovery. Next training: <strong>${SC.nextTraining?.date ?? '?'}</strong><br><span style=\"color:#555\">${SC.nextTraining?.description ?? ''}</span>`\n          }\n        </div>\n        <div style=\"margin-top:8px\">\n          <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\"><tr>\n            <td width=\"${SC.voortgangPct}%\" style=\"background:${SC.isTrainingsdag ? '#4caf50' : '#9c27b0'};height:4px;border-radius:3px;font-size:0\">&nbsp;</td>\n            <td width=\"${100 - SC.voortgangPct}%\" style=\"background:#e0e0e0;height:4px;border-radius:3px;font-size:0\">&nbsp;</td>\n          </tr></table>\n          <div style=\"font-size:10px;color:#888;font-family:Arial,sans-serif;margin-top:4px\">${SC.voortgangPct}% completed · ${SC.gedaanTrainingsdagen}/${SC.totaalTrainingsdagen} sessions · 5K prediction: ${SC.huidig5KTijd ?? 'n/a'}</div>\n        </div>\n      </td>\n    </tr></table>\n  </td></tr>\n  </table>` : ''}\n\n  <div style=\"margin-top:10px\">\n    <span style=\"display:inline-block;background:#e8f5e9;color:#2e7d32;padding:6px 10px;border-radius:16px;font-size:11px;font-weight:600;margin:3px 3px 3px 0;font-family:Arial,sans-serif\">😴 Best: ${formatDatum(tr.bestesSlaapDag)} (${tr.bestesSlaapScore})</span>\n    <span style=\"display:inline-block;background:#ffebee;color:#c62828;padding:6px 10px;border-radius:16px;font-size:11px;font-weight:600;margin:3px 3px 3px 0;font-family:Arial,sans-serif\">😴 Worst: ${formatDatum(tr.slechtesteSlaapDag)} (${tr.slechtesteSlaapScore})</span>\n    <span style=\"display:inline-block;background:#e3f2fd;color:#1565c0;padding:6px 10px;border-radius:16px;font-size:11px;font-weight:600;margin:3px 3px 3px 0;font-family:Arial,sans-serif\">👟 ${formatDatum(tr.meesteStappenDag)}: ${(tr.meesteStappen || 0).toLocaleString('nl-NL')}</span>\n    ${hardloopBadge}\n    ${readinessBadge}\n    ${statusBadge}\n    ${raceBadge}\n  </div>\n</td></tr>\n</table>\n\n<!-- AI ANALYSE -->\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:white;border-bottom:1px solid #f0f0f0\">\n<tr><td style=\"padding:20px 16px\">\n  <table cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom:16px;width:100%\"><tr>\n    <td width=\"42\" style=\"vertical-align:top\">\n      <table cellpadding=\"0\" cellspacing=\"0\"><tr><td width=\"38\" height=\"38\" style=\"width:38px;height:38px;background:#1a1a2e;border-radius:10px;text-align:center;font-size:20px;line-height:38px;color:white\">🤖</td></tr></table>\n    </td>\n    <td style=\"padding-left:10px;vertical-align:middle\">\n      <div style=\"font-weight:800;font-size:14px;color:#1a1a2e;font-family:Arial,sans-serif\">AI Gezondheidsanalyse</div>\n      <div style=\"font-size:11px;color:#aaa;font-family:Arial,sans-serif;margin-top:2px\">Groq llama-3.3-70b · 10 days · Readiness · Race · Fitness age</div>\n    </td>\n  </tr></table>\n  <p style=\"margin:0;line-height:1.85;font-family:Arial,sans-serif;font-size:14px;color:#1a1a1a\">${htmlAnalyse}</p>\n</td></tr>\n</table>\n\n<!-- GRAFIEKEN -->\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:white;border-radius:0 0 16px 16px;box-shadow:0 4px 16px rgba(0,0,0,0.07)\">\n<tr><td style=\"padding:20px 16px\">\n  <div style=\"font-size:16px;font-weight:900;color:#1a1a2e;font-family:Arial,sans-serif;border-bottom:2px solid #f0f0f0;padding-bottom:10px;margin-bottom:18px\">📊 Grafieken — 10 dagen</div>\n\n  ${grafiekBlok('😴 Sleep per night',\n    legL('#1565c0', 'Diep') + legL('#7c4dff', 'REM') + legL('#90caf9', 'Licht'),\n    grafiek1)}\n\n  ${grafiekBlok('📈 Sleep score',\n    legL('#ff6f00', 'Score (punt = dag)'),\n    grafiek1b)}\n\n  ${grafiekBlok('👟 Steps vs daily goal',\n    legL('#4caf50', 'Goal ✓') + legL('#ff9800', '75%+') + legL('#f44336', 'Below goal'),\n    grafiek2)}\n\n  ${grafiekBlok('💓 Resting HR (10 days)',\n    legL('#e53935', 'Resting HR bpm'),\n    grafiek3a)}\n\n  ${grafiekBlok('💚 HRV weekly average',\n    legL('#00897b', 'HRV weekly avg'),\n    grafiek3b)}\n\n  ${grafiekBlok('🧠 Stress per day',\n    heeftStressComponenten\n      ? legL('#a5d6a7','Rest') + legL('#ffe082','Low') + legL('#ffb74d','Medium') + legL('#ef5350','High')\n      : legL('#ff9800','Avg. stress score'),\n    grafiek4)}\n\n  ${grafiekBlok('⚡ Body Battery range',\n    legL('#42a5f5', 'High ≥60') + legL('#ffb74d', 'Moderate') + legL('#ef5350', 'Low'),\n    grafiek5)}\n\n  <div style=\"color:#ccc;font-size:10px;text-align:center;margin-top:14px;border-top:1px solid #f5f5f5;padding-top:12px;line-height:1.6;font-family:Arial,sans-serif\">\n    Garmin REST API [jouw NAS IP]:8085 · Groq llama-3.3-70b · ${nu.toLocaleDateString('nl-NL', { day:'numeric', month:'long', year:'numeric' })}\n  </div>\n</td></tr>\n</table>\n\n</td></tr></table>\n</body></html>`;\n\nreturn [{ json: {\n  html,\n  onderwerp: `⌚ Garmin ${nu.toLocaleDateString('nl-NL', { day: 'numeric', month: 'long' })} — ${gem.sleepUur}h sleep ${trendPijl} | ${(gem.gemStappen || 0).toLocaleString('nl-NL')} steps | HR ${gem.gemRustpols ?? '?'}bpm | VO2max ${gem.vo2maxHuidig ?? '?'} | BB ${gem.gemBodyBattery}`,\n  analyse\n} }];"
      },
      "id": "e400a995-f3d6-4c22-a69f-89af127fe585",
      "name": "Maak HTML Rapport",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        18176,
        7152
      ]
    },
    {
      "parameters": {
        "jsCode": "const inp = $input.first().json;\nconst d = inp;\nconst geheugenTekst = inp.geheugenTekst || '## PREVIOUSLY GIVEN ADVICE\\nNo previous advice yet saved.';\nconst gem = d.gemiddelden;\nconst tr  = d.trends;\n\nconst GROQ_API_KEY = '[jouw Groq API sleutel]';\nconst SC = d.scheduleContext || null;\n\nconst sleepTrendTekst = tr.sleepTrend > 0.2\n  ? `📈 IMPROVEMENT: +${tr.sleepTrend}h sleep over the course of the week`\n  : tr.sleepTrend < -0.2\n  ? `📉 DECLINE: ${tr.sleepTrend}h sleep over the course of the week`\n  : '➡️ Sleep stable throughout the week';\n\n// Activiteiten van today\nconst todayGedaan = d.todayGedaan || [];\nconst todaySectie = todayGedaan.length > 0\n  ? `🏅 ALREADY COMPLETED TODAY:\\n${todayGedaan.join('\\n')}\\n\\n⚠️ INSTRUCTION: Do NOT give any more movement advice for today. Acknowledge the activity/activities EXPLICITLY and enthusiastically.`\n  : `📋 No activities logged for today.`;\n\n// Persoonlijke records samenvatting\nconst recordsBlok = d.persoonlijkeRecords\n  ? d.persoonlijkeRecords.filter(r => [4,5,6,1].includes(r.typeId)).map(r => `${r.typeNaam}: ${r.waarde} (${r.date})`).join(' | ')\n  : 'n/a';\n\nconst prompt = `Analyseer deze Garmin data grondig dag voor dag. Write in English. Mention specific dates, scores en cijfers.\n\n## ACTIVITEITEN VAN VANDAAG — LEES DIT EERST\n${todaySectie}\n\n## SLAAP — 10 DAGEN\n${d.sleepTekst}\n\n## STAPPEN & DAGELIJKSE STATS — 10 DAGEN\n${d.stepsTekst}\n\n## STRESS — 10 DAGEN\n${d.stressTekstWeek}\n\n## HRV — 10 DAGEN\n${d.hrvTekstWeek}\n\n## GEWICHT — 10 DAGEN\n${d.weightTekstWeek}\n\n## HARTSLAG ZONES — 10 DAGEN\n${d.hrZoneTekst}\n\n## TRAINING READINESS (today)\n${d.readinessTekst}\n\n## TRAINING STATUS & TRAININGSBELASTING\n${d.statusTekst}\n\n## FITNESS LEEFTIJD\n${d.fitnessLeeftijdTekst}\n\n## RACE PREDICTIONS\n${d.raceTekst}\n\n## PERSOONLIJKE RECORDS (loopnummers)\n${recordsBlok}\n\n## 5K TRAININGSSCHEMA — WEEK ${SC?.weekNr ?? '?'}/8\nVoortgang: ${SC?.voortgangPct ?? 0}% (${SC?.gedaanTrainingsdagen ?? 0}/${SC?.totaalTrainingsdagen ?? 24} trainingen)\nWeek overview: ${SC?.weekOverzicht ?? 'n/a'}\nCurrent 5K race prediction: ${SC?.huidig5KTijd ?? 'n/a'}\nSchedule start date: ${SC?.startDatum ?? 'n/a'}\n\n${SC?.isTrainingsdag\n  ? `🏃 TODAY IS A TRAINING DAY (${SC?.dagNaamVandaag}):\nAdjustment based on readiness: ${SC?.adjustment?.toUpperCase()} — ${SC?.adjustmentReden}\n${SC?.adjustment !== 'normaal' && SC?.origineelTraining ? `Original schedule: ${SC?.origineelTraining?.description}` : ''}\nRecommended training today: ${SC?.todayTraining?.description}\nDuration: ${SC?.todayTraining?.durationMin} minutes`\n  : `😴 TODAY IS A REST DAY (${SC?.dagNaamVandaag}) — no running training planned`}\n${SC?.adjustment === 'rust' ? '⚠️ SCHEMA-AANPASSING: Trainingsdag omgezet naar rest day wegens lage readiness.' : ''}\n${SC?.adjustment === 'licht' ? '⚠️ SCHEDULE ADJUSTMENT: Training reduced due to moderate readiness.' : ''}\n\nNext training: ${SC?.nextTraining?.date ?? 'n/a'} — ${SC?.nextTraining?.type ?? 'n/a'} (${SC?.nextTraining?.durationMin ?? '?'} min)\n${SC?.nextTraining?.description ?? ''}\n\n## ACTIVITEITEN (laatste 10)\n${d.activitiesTekst}\n\n## 21-DAAGSE GEMIDDELDEN & TRENDS\n- Sleep: ${gem.sleepUur}h/night → ${gem.sleepUur>=7.5?'✅ GOOD':gem.sleepUur>=6.5?'🟡 MODERATE':'❌ INSUFFICIENT'} | Score: ${gem.sleepScore}/100\n- Steps avg: ${gem.gemStappen}/day | Your daily goal: ${gem.stapDoel} steps | ${tr.dagenDoelGehaald}/10 days goal reached → ${gem.gemStappen >= gem.stapDoel ? '✅ ABOVE GOAL' : gem.gemStappen >= gem.stapDoel * 0.75 ? '🟡 ALMOST' : '❌ BELOW GOAL'}\n- IMPORTANT: Always use ${gem.stapDoel} as step goal in advice, NEVER 8000 or 10000.\n- Body Battery: ${gem.gemBodyBattery}/100\n- Resting HR: ${gem.gemRustpols??'n/a'} bpm\n- Stress avg: ${gem.gemStressWeek??'n/a'}/100\n- HRV avg: ${gem.gemHRV??'n/a'}\n- Weight: ${gem.weightHuidig??'n/a'}kg | Delta week: ${gem.weightDelta??'n/a'}kg\n- VO2max: ${gem.vo2maxHuidig??'n/a (no GPS running)'}\n- Intensiteitsminuten: ${tr.totaalIntMid+tr.totaalIntHoog}min (WHO doel 150min)\n- Slaaptrend: ${sleepTrendTekst}\n- Training Readiness: ${d.trainingReadiness?.score??'n/a'}/100 — ${d.trainingReadiness?.levelNL??'n/a'}\n- Training Status: ${d.trainingStatus?.statusNL??'n/a'}\n- Training load: acute ${d.trainingStatus?.acuutLoad??'n/a'} vs chronic ${d.trainingStatus?.chronischLoad??'n/a'} (ACWR: ${d.trainingStatus?.acwrStatus??'n/a'})\n- Fitness age: ${d.fitnessLeeftijd?.fitnessAge??'n/a'} (achievable: ${d.fitnessLeeftijd?.haalbaarAge??'n/a'}, chronological: ${d.fitnessLeeftijd?.chronologischAge??'n/a'})\n\nGeef analyse met PRECIES deze structuur:\n\n**📊 Weekoverzicht**\n3-4 sentences met grootste verbeteringen én aandachtspunten. Als er een activity van today is: begin met erkenning.\n\n**😴 Slaapanalyse**\nNO day-by-day summary. Beschrijf uitsluitend:\n- Algemene trend over de week (verbetering/verslechtering/stabiel) met begin- en eindwaarde\n- Uitschieters: beste en slechtste nacht met reden indien zichtbaar\n- Opvallende patronen: diepe sleep trend, REM trend, SpO2 range, ademhaling\n- Max 4 sentences totaal.\n\n**💓 Heart Rate & HRV**\nNO day-by-day summary. Alleen: trend rustpols (begin→end of week), HRV weekly average and what it says about recovery. Max 3 sentences.\n\n**🔋 Training Readiness & Load**\nReadiness score ${d.trainingReadiness?.score??'n/a'}/100 — ${d.trainingReadiness?.levelNL??'n/a'}.\nFeedback: ${d.trainingReadiness?.feedbackKort??'n/a'} (${d.trainingReadiness?.feedbackLang??'n/a'}).\nAcute load ${d.trainingStatus?.acuutLoad??'n/a'} vs chronic ${d.trainingStatus?.chronischLoad??'n/a'} — what does this mean?\nTraining balance: ${d.trainingStatus?.balanceFeedback??'n/a'} — what is missing?\n\n**📈 Fitness Age & VO2max**\nFitness age ${d.fitnessLeeftijd?.fitnessAge??'n/a'} vs chronological ${d.fitnessLeeftijd?.chronologischAge??'n/a'} — how large is the gap?\nAchievable ${d.fitnessLeeftijd?.haalbaarAge??'n/a'} with more intensive training.\nVO2max: ${gem.vo2maxHuidig??'not yet measured (only after outdoor GPS run)'}. Compare with average men 40-49 (avg 40-44, good 45-51, excellent 52+).\n\n**🏁 Race Predictions & Records**\nRace predictions: ${d.raceTekst}\nPersoonlijke records: ${recordsBlok}\nMotiverende context voor iemand die voorzichtig opbouwt na inactivity.\n\n**❤️ Hartrate Zones**\nZone distribution this week: ${d.hrZoneTekst.split('\\n').slice(-1)[0]}\nOptimale Z2-training (70-80% van training). Uitleg voor beginners.\n\n**👟 Bewegingsanalyse**\n${todayGedaan.length > 0 ? 'START WITH: 🎉 Great job! You completed ' + todayGedaan[0] + '.' : ''}\nFORBIDDEN: listing daily values. REQUIRED: write only advice and conclusions.\nVoorbeeld van GOED: \"Je haalt gemiddeld 60% van je step goal — verhoog dit step by step towards 7.500 door elke ochtend een short walk to plan.\"\nVoorbeeld van FOUT: \"Op monday waren het 2805 steps, on Tuesday 4143...\"\nDiscuss: step goal (gebruik ALTIJD het getal ${gem.stapDoel}, nooit 10000 of 8000) haalbaar of niet + concrete advice, sedentary time + concrete break moment advice, intensiteitsminuten trend + wat nog nodig is voor WHO doel. Max 4 sentences.\n\n**⚡ Body Battery & Stress**\nFORBIDDEN: listing daily values. REQUIRED: write only conclusions and advice.\nVoorbeeld van GOED: \"Je Body Battery zakt structurally below de 20 — this indicates insufficient recovery. Priority: go to bed earlier and reduce screen time after 20:00.\"\nVoorbeeld van FOUT: \"De Body Battery was 33 op monday, 19 on Tuesday...\"\nDiscuss: what the body battery pattern says about recovery + 1 concrete advice, stress level meaning + 1 concrete advice. Max 3 sentences.\n\n**⚖️ Gewicht**\nAlleen als er metingen zijn: trend over de week in 1 zin. Anders weglaten.\n\n**🔗 Top 3 Verbanden**\nConcrete verbanden met exacte dates en cijfers.\n\n${geheugenTekst}\n\n**💡 Top 5 Slapadvice**\nBased on your specific data. No repetition of previously given advice.\n1. [Met tijdstip] 2. 3. 4. 5.\n\n**🏃 Top 5 Beweegadvice**\n${todayGedaan.length > 0 ? 'Punt 1 = positieve erkenning van de activity van today.' : ''}\n1. 2. 3. 4. 5.\n\n**🎯 5K Trainingsschema — Vandaag & Deze Week**\nSTRUCTUUR (verplicht):\n1. Schedule progress: week ${SC?.weekNr}/8, ${SC?.voortgangPct}% done — 1 motivating sentence\n2. Vandaag: ${SC?.isTrainingsdag ? '🏃 TRAININGSDAG — geef de exacte training letterlijk over uit het schema' : '😴 RUSTDAG — leg uit waarom rust ook training is'}\n3. Exact instruction for today: copy the description literally: \"${SC?.todayTraining?.description ?? SC?.nextTraining?.description ?? 'rest day'}\"\n4. Next training: ${SC?.nextTraining?.date} — briefly what to expect\n5. Aanpassing: schema is ${SC?.adjustment === 'rust' ? 'omgezet naar RUSTDAG' : SC?.adjustment === 'licht' ? 'VERLICHT' : 'NORMAAL gevolgd'} — leg in 1 zin uit waarom dit verstandig is op basis van readiness ${d.trainingReadiness?.score ?? 'n/a'}/100 en ACWR ${d.trainingStatus?.acwrStatus ?? 'n/a'}.\n6. Copy the exact training for today literally: \"${'${SC?.todayTraining?.description ?? \"rest day\"}'}\"\n   Then add a concrete heart rate target zone: Z1-Z2 = below ${ Math.round((220-54)*0.75) ?? 123}bpm.\n\n**📈 Goals for next week**\n3 measurable goals with numbers.\n\n**⚡ Actions for today**\n${todayGedaan.length > 0 ? '✅ Already done: [activity + compliment]\\n➡️ Still to do: [1 additional action]' : '➡️ [2 concrete actions]'}`;\n\nconst response = await this.helpers.request({\n  method: 'POST',\n  url: 'https://api.groq.com/openai/v1/chat/completions',\n  headers: {\n    'Authorization': `Bearer ${GROQ_API_KEY}`,\n    'Content-Type': 'application/json'\n  },\n  body: JSON.stringify({\n    model: 'llama-3.3-70b-versatile',\n    temperature: 0.6,\n    max_tokens: 5000,\n    messages: [\n      {\n        role: 'system',\n        content: `Je bent een directe, data-gedreven gezondheidscoach. Je analyseert Garmin data over 10 dagen.\\n\\nABSOLUTE KERNREGELS:\\n1. Gebruik ALTIJD de werkelijke getallen uit de data. NOOIT vage termen zonder getal erbij.\\n   FOUT: je body battery is laag | GOED: je body battery staat op 39/100, dat is 22pt onder je 21-daags gem van 61\\n   FOUT: je sleept goed | GOED: sleepscore 86 is hoogste van 10 dagen (gem: 72)\\n2. Vergelijk ELKE waarde van today altijd met het 21-daags gemiddelde.\\n3. Trends met richting en getal: rustpols daalde van 62 naar 56 bpm in 3 weeks (-10%).\\n4. Kijk ALTIJD eerst naar activities van today. Als iemand al gesport heeft, erken dit DIRECT.\\n5. No day-by-day summaries. Schrijf in trends, patronen en uitschieters.\\n6. No repetition. Elk punt een keer.\\n7. Schrijf altijd in English.\\n8. Context: gebruiker (54 jaar) sleept 21:00-21:30, bouwt voorzichtig op na jaren inactivity.\\n9. Elk advies bevat een specific getal: je intensieve minuten zijn 10/75 per week, voeg tomorrow 15 min Z2 toe.\\n10. Be concise and concrete, kwaliteit boven kwantiteit.`\n      },\n      { role: 'user', content: prompt }\n    ]\n  })\n});\n\nconst result = JSON.parse(response);\nconst analyse = result.choices?.[0]?.message?.content || 'No analysis available';\nreturn [{ json: { analyse, garminData: d } }];"
      },
      "id": "38237733-704f-4b96-9015-25faa587bcde",
      "name": "Groq AI Analyse",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        17824,
        7152
      ]
    },
    {
      "parameters": {
        "jsCode": "const BASE = 'http://[jouw NAS IP]:8085';\n\nfunction dateGeleden(n) {\n  const d = new Date();\n  d.setDate(d.getDate() - n);\n  return d.toISOString().split('T')[0];\n}\n\nconst dates = [];\nfor (let i = 9; i >= 0; i--) dates.push(dateGeleden(i));\nconst today = dates[dates.length - 1];\n\n// ── Per dag arrays ────────────────────────────────────────────────────────────\nconst sleepData    = [];\nconst stapsData    = [];\nconst heart rateData = [];\nconst stressData   = [];\nconst hrvData      = [];\nconst weightData  = [];\nconst hrZoneData   = [];\n\nfor (const date of dates) {\n\n  // SLAAP\n  try {\n    const r = await this.helpers.request({ method:'GET', url:`${BASE}/sleep?date=${date}`, json:true });\n    const dto = r?.dailySleepDTO || {};\n    const scores = dto.sleepScores || {};\n    sleepData.push({\n      date,\n      totaalUur:  Math.round((dto.sleepTimeSeconds  ||0)/360)/10,\n      diepUur:    Math.round((dto.deepSleepSeconds   ||0)/360)/10,\n      remUur:     Math.round((dto.remSleepSeconds    ||0)/360)/10,\n      lightUur:   Math.round((dto.lightSleepSeconds  ||0)/360)/10,\n      wakkerUur:  Math.round((dto.awakeSleepSeconds  ||0)/360)/10,\n      score:      scores.overall?.value      ?? null,\n      scoreDeep:  scores.deepSleep?.value    ?? null,\n      scoreRem:   scores.remSleep?.value     ?? null,\n      scoreRest:  scores.restfulness?.value  ?? null,\n      scoreDur:   scores.duration?.value     ?? null,\n      spo2Gem:    dto.averageSpO2Value        ?? null,\n      spo2Min:    dto.lowestSpO2Value         ?? null,\n      hrv:        dto.avgOvernightHrv         ?? null,\n      rustpols:   dto.restingHeartRate        ?? null,\n      bedtijd:    dto.sleepStartTimestampLocal ? new Date(dto.sleepStartTimestampLocal).toTimeString().slice(0,5) : null,\n      waaktijd:   dto.sleepEndTimestampLocal   ? new Date(dto.sleepEndTimestampLocal).toTimeString().slice(0,5)   : null,\n      ademhaling: dto.averageRespirationValue  ?? null,\n    });\n  } catch(e) {\n    sleepData.push({ date, totaalUur:0, diepUur:0, remUur:0, lightUur:0, wakkerUur:0, score:null, scoreDeep:null, scoreRem:null, scoreRest:null, scoreDur:null, spo2Gem:null, spo2Min:null, hrv:null, rustpols:null, bedtijd:null, waaktijd:null, ademhaling:null });\n  }\n\n  // STATS\n  try {\n    const r = await this.helpers.request({ method:'GET', url:`${BASE}/stats?date=${date}`, json:true });\n    stapsData.push({\n      date,\n      steps:         r.totalSteps                  ?? 0,\n      stapDoel:        r.dailyStepGoal               ?? 0,\n      stapPct:         r.dailyStepGoal ? Math.round((r.totalSteps||0)/r.dailyStepGoal*100) : 0,\n      afstandM:        r.totalDistanceMeters          ?? 0,\n      calActief:       r.activeKilocalories           ?? 0,\n      calTotaal:       r.totalKilocalories            ?? 0,\n      calBMR:          r.bmrKilocalories              ?? 0,\n      gemStress:       r.averageStressLevel           ?? null,\n      maxStress:       r.maxStressLevel               ?? null,\n      bbHoog:          r.bodyBatteryHighestValue      ?? null,\n      bbLaag:          r.bodyBatteryLowestValue       ?? null,\n      bbHuidig:        r.bodyBatteryMostRecentValue   ?? null,\n      bbDelta:         (r.bodyBatteryHighestValue??0)-(r.bodyBatteryLowestValue??0),\n      rustpols:        r.restingHeartRate             ?? null,\n      maxHR:           r.maxHeartRate                 ?? null,\n      intensiteitMid:  r.moderateIntensityMinutes     ?? 0,\n      intensiteitHoog: r.vigorousIntensityMinutes     ?? 0,\n      sedentarySec:    r.sedentarySeconds             ?? 0,\n      sleepSec:        r.sleepingSeconds              ?? 0,\n      etages:          r.floorsAscended               ?? null,\n      spo2Gem:         r.averageSpo2                  ?? null,\n      ademhaling:      r.avgWakingRespirationValue    ?? null,\n    });\n  } catch(e) {\n    stapsData.push({ date, steps:0, stapDoel:0, stapPct:0, afstandM:0, calActief:0, calTotaal:0, calBMR:0, gemStress:null, maxStress:null, bbHoog:null, bbLaag:null, bbHuidig:null, bbDelta:0, rustpols:null, maxHR:null, intensiteitMid:0, intensiteitHoog:0, sedentarySec:0, sleepSec:0, etages:null, spo2Gem:null, ademhaling:null });\n  }\n\n  // HARTSLAG\n  try {\n    const r = await this.helpers.request({ method:'GET', url:`${BASE}/heart rate?date=${date}`, json:true });\n    heart rateData.push({\n      date,\n      rustpols:    r.restingHeartRate                    ?? null,\n      minHR:       r.minHeartRate                        ?? null,\n      maxHR:       r.maxHeartRate                        ?? null,\n      gem7daags:   r.lastSevenDaysAvgRestingHeartRate    ?? null,\n    });\n  } catch(e) {\n    heart rateData.push({ date, rustpols:null, minHR:null, maxHR:null, gem7daags:null });\n  }\n\n  // STRESS\n  try {\n    const r = await this.helpers.request({ method:'GET', url:`${BASE}/stress?date=${date}`, json:true });\n    const stressGem = r.averageStressLevel ?? r.avgStressLevel ?? r.dailyStressAvg ?? null;\n    const stressMax = r.maxStressLevel ?? r.maxStress ?? null;\n    const toDur = (v) => v ? Math.round(v / 60) : 0;\n    stressData.push({\n      date,\n      gemStress: stressGem,\n      maxStress: stressMax,\n      rustMin:   toDur(r.restStressDuration   ?? r.restDuration   ?? 0),\n      laagMin:   toDur(r.lowStressDuration    ?? r.lowDuration    ?? 0),\n      middenMin: toDur(r.mediumStressDuration ?? r.mediumDuration ?? 0),\n      hoogMin:   toDur(r.highStressDuration   ?? r.highDuration   ?? 0),\n      totaalMin: toDur(r.totalStressDuration  ?? r.totalDuration  ?? 0),\n    });\n  } catch(e) {\n    stressData.push({ date, gemStress:null, maxStress:null, rustMin:0, laagMin:0, middenMin:0, hoogMin:0, totaalMin:0 });\n  }\n\n  // HRV\n  try {\n    const r = await this.helpers.request({ method:'GET', url:`${BASE}/hrv?date=${date}`, json:true });\n    const s = r?.hrvSummary || {};\n    const dagWaarden = Array.isArray(r?.hrvReadings)\n      ? r.hrvReadings.map(v => v?.hrvValue ?? v ?? null).filter(v => v !== null)\n      : [];\n    hrvData.push({\n      date,\n      weekGem:      s.weeklyAvg           ?? null,\n      previousNacht:  s.lastNight           ?? null,\n      vijfDaags:    s.lastFiveDaysAvg     ?? null,\n      status:       s.status              ?? null,\n      baselineLaag: s.baselineLowUpper    ?? null,\n      baselineHoog: s.baselineBalancedLow ?? null,\n      nachMin:      dagWaarden.length ? Math.min(...dagWaarden) : null,\n      nightMax:      dagWaarden.length ? Math.max(...dagWaarden) : null,\n      rmssd:        s.rmssd ?? s.avgHRV ?? null,\n    });\n  } catch(e) {\n    hrvData.push({ date, weekGem:null, previousNacht:null, vijfDaags:null, status:null, baselineLaag:null, baselineHoog:null, nachMin:null, nightMax:null, rmssd:null });\n  }\n\n  // GEWICHT\n  try {\n    const r = await this.helpers.request({ method:'GET', url:`${BASE}/weight?date=${date}`, json:true });\n    const m = r?.dateWeightList?.[0];\n    weightData.push({\n      date,\n      weightKg:    m?.weight ? Math.round(m.weight/10)/100 : null,\n      bmi:          m?.bmi          ?? null,\n      vetPct:       m?.bodyFat      ?? null,\n      spierpct:     m?.muscleMass   ?? null,\n      waterPct:     m?.bodyWater    ?? null,\n    });\n  } catch(e) {\n    weightData.push({ date, weightKg:null, bmi:null, vetPct:null, spierpct:null, waterPct:null });\n  }\n\n  // HARTSLAG ZONES\n  try {\n    const r = await this.helpers.request({ method:'GET', url:`${BASE}/heart ratezones?date=${date}`, json:true });\n    const zones = Array.isArray(r?.heartRateZones) ? r.heartRateZones\n                : Array.isArray(r?.zones) ? r.zones\n                : Array.isArray(r) ? r : [];\n    const toMin = (s) => s ? Math.round(s / 60) : 0;\n    hrZoneData.push({\n      date,\n      zone1Min: toMin(zones[0]?.secsInZone ?? zones[0]?.seconds ?? 0),\n      zone2Min: toMin(zones[1]?.secsInZone ?? zones[1]?.seconds ?? 0),\n      zone3Min: toMin(zones[2]?.secsInZone ?? zones[2]?.seconds ?? 0),\n      zone4Min: toMin(zones[3]?.secsInZone ?? zones[3]?.seconds ?? 0),\n      zone5Min: toMin(zones[4]?.secsInZone ?? zones[4]?.seconds ?? 0),\n    });\n  } catch(e) {\n    hrZoneData.push({ date, zone1Min:0, zone2Min:0, zone3Min:0, zone4Min:0, zone5Min:0 });\n  }\n}\n\n// ── Activiteiten (laatste 15) ─────────────────────────────────────────────────\nlet activitiesTekst = 'No activities found';\nlet activitiesData  = [];\ntry {\n  const r = await this.helpers.request({ method:'GET', url:`${BASE}/activities?limit=15`, json:true });\n  if (Array.isArray(r) && r.length > 0) {\n    activitiesData = r;\n    activitiesTekst = r.slice(0,10).map(a => {\n      const naam   = a.activityName || a.activityType?.typeKey || 'activity';\n      const date  = (a.startTimeLocal||'').slice(0,10);\n      const duur   = Math.round((a.duration||0)/60);\n      const km     = a.distance    ? (Math.round(a.distance/100)/10)+'km' : '';\n      const hr     = a.averageHR   ? `gem HR:${a.averageHR}bpm` : '';\n      const cal    = a.calories    ? `${a.calories}kcal` : '';\n      const tempo  = a.averageSpeed && a.activityType?.typeKey?.includes('running')\n        ? `${Math.round(1000/a.averageSpeed/60)}:${String(Math.round(1000/a.averageSpeed%60)).padStart(2,'0')}/km` : '';\n      return `${date}: ${naam} — ${duur}min ${[km,hr,cal,tempo].filter(Boolean).join(' ')}`;\n    }).join('\\n');\n  }\n} catch(e) {}\n\n// ── TRAINING READINESS (today) ──────────────────────────────────────────────\n// Echte response: [{score:72, level:\"MODERATE\", feedbackShort:\"LISTEN_TO_YOUR_BODY\",\n//   feedbackLong:\"MOD_HRV_UNBALANCED\", sleepScore:80, recoveryTime:1, acuteLoad:56, ...}]\nlet trainingReadiness = null;\ntry {\n  const r = await this.helpers.request({ method:'GET', url:`${BASE}/training-readiness?date=${today}`, json:true });\n  const item = Array.isArray(r) ? r[r.length - 1] : r;\n  if (item && item.score != null) {\n    trainingReadiness = {\n      score:        item.score,\n      level:        item.level          ?? null,   // \"MODERATE\", \"HIGH\", \"LOW\"\n      feedbackKort: item.feedbackShort  ?? null,   // \"LISTEN_TO_YOUR_BODY\"\n      feedbackLang: item.feedbackLong   ?? null,   // \"MOD_HRV_UNBALANCED\"\n      sleepScore:   item.sleepScore     ?? null,\n      recoveryTime: item.recoveryTime   ?? null,\n      acuteLoad:    item.acuteLoad      ?? null,\n      hrv:          item.hrvWeeklyAverage ?? null,\n      // Vertaal level naar Nederlands\n      levelNL: (() => {\n        const l = (item.level || '').toUpperCase();\n        if (l === 'HIGH' || l === 'EXCELLENT')  return 'Ready for hard training';\n        if (l === 'MODERATE' || l === 'MEDIUM') return 'Moderate training readiness';\n        if (l === 'LOW' || l === 'POOR')        return 'Rest recommended';\n        if (l === 'RECOVERY')                   return 'Recovery day recommended';\n        return item.level ?? null;\n      })(),\n    };\n  }\n} catch(e) { trainingReadiness = null; }\n\n// ── TRAINING STATUS (today) ─────────────────────────────────────────────────\n// Echte response: {mostRecentTrainingStatus: {latestTrainingStatusData: {[your-device-id]: {\n//   trainingStatus:5, trainingStatusFeedbackPhrase:\"RECOVERY_1\",\n//   acuteTrainingLoadDTO: {acwrStatus:\"LOW\", dailyTrainingLoadAcute:56, dailyTrainingLoadChronic:176}}}},\n//   mostRecentTrainingLoadBalance: {metricsTrainingLoadBalanceDTOMap: {[your-device-id]: {\n//   monthlyLoadAerobicLow:97.5, monthlyLoadAerobicHigh:0, monthlyLoadAnaerobic:13.4,\n//   trainingBalanceFeedbackPhrase:\"AEROBIC_LOW_SHORTAGE\"}}},\n//   mostRecentVO2Max: {generic:null, cycling:null}}\nlet trainingStatus = null;\ntry {\n  const r = await this.helpers.request({ method:'GET', url:`${BASE}/training-status?date=${today}`, json:true });\n  if (r && typeof r === 'object') {\n    // Haal data op uit de geneste structuur\n    const statusObj = r.mostRecentTrainingStatus?.latestTrainingStatusData;\n    const deviceId  = statusObj ? Object.keys(statusObj)[0] : null;\n    const statusData = deviceId ? statusObj[deviceId] : null;\n    const acuut = statusData?.acuteTrainingLoadDTO || {};\n\n    const loadObj = r.mostRecentTrainingLoadBalance?.metricsTrainingLoadBalanceDTOMap;\n    const loadDeviceId = loadObj ? Object.keys(loadObj)[0] : null;\n    const loadData = loadDeviceId ? loadObj[loadDeviceId] : null;\n\n    const vo2obj = r.mostRecentVO2Max || {};\n\n    // trainingStatus numbers: 1=Peak, 2=Productive, 3=Maintenance, 4=Recovery, 5=Recovery, 6=Unproductive, 7=Overtraining, 8=Detraining\n    const statusNrMap = {1:'🏆 Peak phase', 2:'📈 Productive phase', 3:'➡️ Maintenance', 4:'🔄 Recovery period', 5:'🔄 Recovery period', 6:'📉 Unproductive phase', 7:'⚠️ Overreaching', 8:'⬇️ Detraining'};\n\n    trainingStatus = {\n      statusNr:        statusData?.trainingStatus    ?? null,\n      statusNL:        statusNrMap[statusData?.trainingStatus] ?? statusData?.trainingStatusFeedbackPhrase ?? null,\n      feedbackPhrase:  statusData?.trainingStatusFeedbackPhrase ?? null,\n      acuutLoad:       acuut.dailyTrainingLoadAcute   ?? null,\n      chronischLoad:   acuut.dailyTrainingLoadChronic  ?? null,\n      acwrStatus:      acuut.acwrStatus               ?? null,   // \"LOW\", \"OPTIMAL\", \"HIGH\"\n      acwrPct:         acuut.acwrPercent              ?? null,\n\n      // Maandelijkse belasting\n      aerobicLow:      loadData?.monthlyLoadAerobicLow        ?? null,\n      aerobicLowMin:   loadData?.monthlyLoadAerobicLowTargetMin ?? null,\n      aerobicLowMax:   loadData?.monthlyLoadAerobicLowTargetMax ?? null,\n      aerobicHigh:     loadData?.monthlyLoadAerobicHigh       ?? null,\n      aerobicHighMin:  loadData?.monthlyLoadAerobicHighTargetMin ?? null,\n      aerobicHighMax:  loadData?.monthlyLoadAerobicHighTargetMax ?? null,\n      anaerobic:       loadData?.monthlyLoadAnaerobic          ?? null,\n      anaerobicMax:    loadData?.monthlyLoadAnaerobicTargetMax  ?? null,\n      balanceFeedback: loadData?.trainingBalanceFeedbackPhrase  ?? null, // \"AEROBIC_LOW_SHORTAGE\"\n\n      // VO2max (null als no GPS-running)\n      vo2maxGeneric:   vo2obj.generic    ?? null,\n      vo2maxCycling:   vo2obj.cycling    ?? null,\n    };\n  }\n} catch(e) { trainingStatus = null; }\n\n// ── RACE PREDICTIONS ──────────────────────────────────────────────────────────\n// Echte response: {time5K:2080000, time10K:4655000, timeHalfMarathon:11582000, timeMarathon:27187000, ...}\n// TIJDEN ZIJN IN MILLISECONDEN\nlet racePredictions = null;\ntry {\n  const r = await this.helpers.request({ method:'GET', url:`${BASE}/race-predictions`, json:true });\n  const item = Array.isArray(r) ? r[0] : r;\n  if (item && (item.time5K || item.time10K)) {\n    // API geeft seconden terug (niet milliseconden)\n    const msToTijd = (sec) => {\n      if (!sec) return null;\n      const totSec = Math.round(sec);\n      const uur  = Math.floor(totSec / 3600);\n      const min  = Math.floor((totSec % 3600) / 60);\n      const s    = totSec % 60;\n      return uur > 0\n        ? `${uur}:${String(min).padStart(2,'0')}:${String(s).padStart(2,'0')}`\n        : `${min}:${String(s).padStart(2,'0')}`;\n    };\n    const pace5K = item.time5K ? (() => {\n      const secPer = Math.round(item.time5K / 5);\n      return `${Math.floor(secPer/60)}:${String(secPer%60).padStart(2,'0')}/km`;\n    })() : null;\n    racePredictions = {\n      vijfKm:        msToTijd(item.time5K),\n      tienKm:        msToTijd(item.time10K),\n      halveMarathon: msToTijd(item.timeHalfMarathon),\n      marathon:      msToTijd(item.timeMarathon),\n      pace5K,\n    };\n  }\n} catch(e) { racePredictions = null; }\n\n// ── FITNESS LEEFTIJD (today) ────────────────────────────────────────────────\n// Echte response: {fitnessAge:51, achievableFitnessAge:47, chronologicalAge:54,\n//   components: {rhr:{value:59}, vigorousDaysAvg:{value:0.3, targetValue:3},\n//   vigorousMinutesAvg:{value:9.1, targetValue:75}, bmi:{value:24.5}}}\nlet fitnessLeeftijd = null;\ntry {\n  const r = await this.helpers.request({ method:'GET', url:`${BASE}/fitnessleeftijd?date=${today}`, json:true });\n  if (r && r.fitnessAge != null) {\n    const comp = r.components || {};\n    fitnessLeeftijd = {\n      fitnessAge:      r.fitnessAge,\n      haalbaarAge:     r.achievableFitnessAge ? Math.round(r.achievableFitnessAge) : null,\n      chronologischAge: r.chronologicalAge    ?? null,\n      rhr:             comp.rhr?.value        ?? null,\n      intensieveDagen: comp.vigorousDaysAvg?.value   ?? null,\n      intensieveDagenDoel: comp.vigorousDaysAvg?.targetValue ?? 3,\n      intensieveMin:   comp.vigorousMinutesAvg?.value ?? null,\n      intensieveMinDoel: comp.vigorousMinutesAvg?.targetValue ?? 75,\n      bmi:             comp.bmi?.value        ?? null,\n      bmiDoel:         comp.bmi?.targetValue  ?? null,\n    };\n  }\n} catch(e) { fitnessLeeftijd = null; }\n\n// ── PERSOONLIJKE RECORDS ──────────────────────────────────────────────────────\n// typeId mapping: 1=Fastest mile, 2=Longest distance, 4=Fastest 5K, 5=Fastest 10K,\n// 6=Fastest HM, 7=Longest activity, 10=Most steps, etc.\nlet persoonlijkeRecords = null;\ntry {\n  const r = await this.helpers.request({ method:'GET', url:`${BASE}/persoonlijke-records`, json:true });\n  if (Array.isArray(r) && r.length > 0) {\n    const typeNamen = {1:'Fastest mile', 2:'Longest distance', 4:'Fastest 5K', 5:'Fastest 10K', 6:'Fastest half marathon', 7:'Longest run', 9:'Max speed', 10:'Most steps'};\n    persoonlijkeRecords = r.map(rec => ({\n      typeId:       rec.typeId,\n      typeNaam:     typeNamen[rec.typeId] ?? `Type ${rec.typeId}`,\n      waarde:       Math.round(rec.value * 10) / 10,\n      activityNaam: rec.activityName ?? null,\n      date:        rec.actStartDateTimeInGMTFormatted?.slice(0,10) ?? null,\n      activityType: rec.activityType  ?? null,\n    }));\n  }\n} catch(e) { persoonlijkeRecords = null; }\n\n// ── Gemiddelden & trends ──────────────────────────────────────────────────────\nconst geldigeSlaap    = sleepData.filter(d=>d.totaalUur>0);\nconst gemSlaapUur     = geldigeSlaap.length ? Math.round(geldigeSlaap.reduce((s,d)=>s+d.totaalUur,0)/geldigeSlaap.length*10)/10 : 0;\nconst geldigeScores   = sleepData.filter(d=>d.score);\nconst gemSlaapScore   = geldigeScores.length ? Math.round(geldigeScores.reduce((s,d)=>s+d.score,0)/geldigeScores.length) : 0;\nconst nDagen          = stapsData.length;\nconst gemStappen      = Math.round(stapsData.reduce((s,d)=>s+d.steps,0)/nDagen);\nconst bbItems         = stapsData.filter(d=>d.bbHuidig);\nconst gemBB           = bbItems.length ? Math.round(bbItems.reduce((s,d)=>s+d.bbHuidig,0)/bbItems.length) : null;\nconst dagenDoelGehaald = stapsData.filter(d=>d.stapPct>=100).length;  // van 21 dagen\nconst gemSedentairUur  = Math.round(stapsData.reduce((s,d)=>s+(d.sedentarySec||0),0)/nDagen/360)/10;\nconst totaalIntMid     = stapsData.reduce((s,d)=>s+d.intensiteitMid,0);\nconst totaalIntHoog    = stapsData.reduce((s,d)=>s+d.intensiteitHoog,0);\nconst geldigeHR        = heart rateData.filter(d=>d.rustpols);\nconst gemRustpols      = geldigeHR.length ? Math.round(geldigeHR.reduce((s,d)=>s+d.rustpols,0)/geldigeHR.length) : null;\nconst geldigeStress    = stressData.filter(d=>d.gemStress);\nconst gemStressWeek    = geldigeStress.length ? Math.round(geldigeStress.reduce((s,d)=>s+d.gemStress,0)/geldigeStress.length) : null;\nconst geldigeHRV       = hrvData.filter(d=>d.weekGem);\nconst gemHRV           = geldigeHRV.length ? Math.round(geldigeHRV.reduce((s,d)=>s+d.weekGem,0)/geldigeHRV.length) : null;\nconst geldigGewicht    = weightData.filter(d=>d.weightKg);\nconst weightHuidig    = geldigGewicht.length ? geldigGewicht[geldigGewicht.length-1].weightKg : null;\nconst weightDelta     = geldigGewicht.length>1 ? Math.round((geldigGewicht[geldigGewicht.length-1].weightKg - geldigGewicht[0].weightKg)*10)/10 : null;\n\nconst eersteHelft  = sleepData.slice(0,5).filter(d=>d.totaalUur>0);\nconst tweedeHelft = sleepData.slice(-7).filter(d=>d.totaalUur>0);\nconst sleepTrend  = eersteHelft.length && tweedeHelft.length\n  ? Math.round(((tweedeHelft.reduce((s,d)=>s+d.totaalUur,0)/tweedeHelft.length)-(eersteHelft.reduce((s,d)=>s+d.totaalUur,0)/eersteHelft.length))*10)/10\n  : 0;\n\nconst bestesSlaapDag      = [...sleepData].filter(d=>d.score).sort((a,b)=>b.score-a.score)[0];\nconst slechtesteSlaapDag  = [...sleepData].filter(d=>d.score).sort((a,b)=>a.score-b.score)[0];\nconst meesteStappenDag    = [...stapsData].sort((a,b)=>b.steps-a.steps)[0];\n\n// ── AI-leesbare teksten ───────────────────────────────────────────────────────\nconst sleepTekst = sleepData.map((d,i) => {\n  const prev = i>0 ? sleepData[i-1] : null;\n  const sd = prev?.score && d.score ? (d.score-prev.score>0?`▲${d.score-prev.score}`:`▼${Math.abs(d.score-prev.score)}`) : '';\n  return `${d.date}${i===6?' (TODAY)':''}: ${d.totaalUur}u | deep:${d.diepUur}h REM:${d.remUur}h light:${d.lightUur}h | score:${d.score??'n/a'} ${sd} | SpO2:${d.spo2Gem??'n/a'}% | HRV:${d.hrv??'n/a'} | resting HR:${d.rustpols??'n/a'}bpm | bedtime:${d.bedtijd??'n/a'} wake:${d.waaktijd??'n/a'} | breathing:${d.ademhaling??'n/a'}/min`;\n}).join('\\n');\n\nconst stepsTekst = stapsData.map((d,i) => {\n  const status = d.stapPct>=100?'✅':d.stapPct>=75?'🟡':'❌';\n  const sedUur = Math.round((d.sedentarySec||0)/360)/10;\n  return `${d.date}${i===6?' (TODAY)':''}: ${d.steps} ${status} (${d.stapPct}%) | BB low:${d.bbLaag??'n/a'} high:${d.bbHoog??'n/a'} | resting HR:${d.rustpols??'n/a'}bpm | int mid:${d.intensiteitMid}min high:${d.intensiteitHoog}min | sedentary:${sedUur}u`;\n}).join('\\n');\n\nconst stressTekstWeek = stressData.map((d,i) => {\n  return `${d.date}${i===6?' (TODAY)':''}: gem:${d.gemStress??'n/a'} | max:${d.maxStress??'n/a'} | rest:${d.rustMin}min low:${d.laagMin}min mid:${d.middenMin}min high:${d.hoogMin}min`;\n}).join('\\n');\n\nconst hrvTekstWeek = hrvData.map((d,i) => {\n  return `${d.date}${i===6?' (TODAY)':''}: weekly avg:${d.weekGem??'n/a'} | night:${d.previousNacht??'n/a'} | 5-day avg:${d.vijfDaags??'n/a'} | nightMin:${d.nachMin??'n/a'} nightMax:${d.nachMax??'n/a'}`;\n}).join('\\n');\n\nconst weightTekstWeek = weightData.map((d,i) => {\n  return `${d.date}${i===6?' (TODAY)':''}: ${d.weightKg??'no measurement'}kg | BMI:${d.bmi??'n/a'}`;\n}).join('\\n');\n\nconst hrZoneTekst = hrZoneData.map((d,i) => {\n  const tot = d.zone1Min+d.zone2Min+d.zone3Min+d.zone4Min+d.zone5Min;\n  return `${d.date}${i===6?' (TODAY)':''}: Z1:${d.zone1Min}min Z2:${d.zone2Min}min Z3:${d.zone3Min}min Z4:${d.zone4Min}min Z5:${d.zone5Min}min totaal:${tot}min`;\n}).join('\\n');\n\nconst readinessTekst = trainingReadiness\n  ? `Score: ${trainingReadiness.score}/100 | Level: ${trainingReadiness.level} (${trainingReadiness.levelNL}) | Feedback: ${trainingReadiness.feedbackKort} — ${trainingReadiness.feedbackLang} | Slaapscore: ${trainingReadiness.sleepScore} | Hersteltijd: ${trainingReadiness.recoveryTime}u | Acuut load: ${trainingReadiness.acuteLoad} | HRV weekly avg: ${trainingReadiness.hrv}`\n  : 'Not available';\n\nconst statusTekst = trainingStatus\n  ? `Status: ${trainingStatus.statusNL} (nr ${trainingStatus.statusNr}) | ACWR: ${trainingStatus.acwrStatus} ${trainingStatus.acwrPct}% | Acuut load: ${trainingStatus.acuutLoad} | Chronisch load: ${trainingStatus.chronischLoad} | Aerobic low: ${trainingStatus.aerobicLow}/${trainingStatus.aerobicLowMin}-${trainingStatus.aerobicLowMax} | Aerobic high: ${trainingStatus.aerobicHigh}/${trainingStatus.aerobicHighMin}-${trainingStatus.aerobicHighMax} | Balans: ${trainingStatus.balanceFeedback} | VO2max: ${trainingStatus.vo2maxGeneric??'n/a'}`\n  : 'Not available';\n\nconst fitnessLeeftijdTekst = fitnessLeeftijd\n  ? `Fitness age: ${fitnessLeeftijd.fitnessAge} | Achievable: ${fitnessLeeftijd.haalbaarAge} | Chronological: ${fitnessLeeftijd.chronologischAge} | RHR: ${fitnessLeeftijd.rhr} | Vigorous days: ${fitnessLeeftijd.intensieveDagen}/${fitnessLeeftijd.intensieveDagenDoel}/week | Vigorous min: ${fitnessLeeftijd.intensieveMin}/${fitnessLeeftijd.intensieveMinDoel}/week | BMI: ${fitnessLeeftijd.bmi}`\n  : 'Not available';\n\nconst recordsTekst = persoonlijkeRecords\n  ? persoonlijkeRecords.map(r => `${r.typeNaam}: ${r.waarde} (${r.date})`).join(' | ')\n  : 'Not available';\n\nconst raceTekst = racePredictions\n  ? `5K: ${racePredictions.vijfKm} (${racePredictions.pace5K}) | 10K: ${racePredictions.tienKm} | HM: ${racePredictions.halveMarathon} | Marathon: ${racePredictions.marathon}`\n  : 'No race predictions available';\n\n// Today detectie voor activities\nconst activitiesRegels = activitiesTekst.split('\\n');\nconst todayGedaan = activitiesRegels.filter(r => r.startsWith(today));\n\nreturn [{ json: {\n  sleepTekst, stepsTekst, stressTekstWeek, hrvTekstWeek, weightTekstWeek,\n  hrZoneTekst, readinessTekst, statusTekst, fitnessLeeftijdTekst, recordsTekst, raceTekst,\n  activitiesTekst, todayGedaan,\n  // Ruwe arrays voor grafieken\n  sleepData, stapsData, heart rateData, stressData, hrvData, weightData, hrZoneData,\n  // Eenmalige objecten\n  trainingReadiness, trainingStatus, fitnessLeeftijd, racePredictions, persoonlijkeRecords,\n  gemiddelden: {\n    sleepUur: gemSlaapUur, sleepScore: gemSlaapScore,\n    stapDoel: stapsData.find(d => d.stapDoel > 0)?.stapDoel ?? 0,\n    gemStappen, gemBodyBattery: gemBB,\n    gemRustpols, gemStressWeek, gemHRV,\n    weightHuidig, weightDelta,\n    vo2maxHuidig: trainingStatus?.vo2maxGeneric ?? null,\n  },\n  trends: {\n    sleepTrend, dagenDoelGehaald, gemSedentairUur,\n    totaalIntMid, totaalIntHoog,\n    bestesSlaapDag: bestesSlaapDag?.date,\n    bestesSlaapScore: bestesSlaapDag?.score,\n    slechtesteSlaapDag: slechtesteSlaapDag?.date,\n    slechtesteSlaapScore: slechtesteSlaapDag?.score,\n    meesteStappenDag: meesteStappenDag?.date,\n    meesteStappen: meesteStappenDag?.steps,\n  }\n} }];"
      },
      "id": "56dec719-8410-4b19-8b0f-51b0c5172992",
      "name": "Haal alle Garmin data op",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        17328,
        7152
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            },
            {
              "triggerAtHour": 18
            }
          ]
        }
      },
      "id": "7197bd35-e394-4bff-8d0e-b337be148dc1",
      "name": "Elke ochtend 08:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        17136,
        7152
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Haal 5K Schema op": {
      "main": [
        [
          {
            "node": "Groq AI Analyse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Laad Adviesgeheugen": {
      "main": [
        [
          {
            "node": "Haal 5K Schema op",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sla Aanbevelingen op": {
      "main": [
        [
          {
            "node": "Maak HTML Rapport",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Maak HTML Rapport": {
      "main": [
        [
          {
            "node": "Verstuur E-mail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq AI Analyse": {
      "main": [
        [
          {
            "node": "Sla Aanbevelingen op",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Haal alle Garmin data op": {
      "main": [
        [
          {
            "node": "Laad Adviesgeheugen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Elke ochtend 08:00": {
      "main": [
        [
          {
            "node": "Haal alle Garmin data op",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "[automatisch gegenereerd]",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "[automatisch gegenereerd]"
  },
  "id": "[auto-generated]",
  "tags": [
    {
      "updatedAt": "2026-03-10T13:55:15.647Z",
      "createdAt": "2026-03-06T20:36:20.944Z",
      "id": "[auto-generated]",
      "name": "Productie flows n8n"
    }
  ]
}
