Garmin_clean.json
{
  "name": "Garmin",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// ── 5K Trainingsschema (8 weken, 3x per week) ────────────────────────────────\n// Gebaseerd op RunAcademy/NN opbouwschema voor beginners\n// Structuur: week 1-3 = loop/wandel intervallen, week 4-6 = langere blokken,\n//            week 7-8 = doorlopen opbouw richting 5K\n\nconst SCHEMA = {\n  1: {\n    ma: { type: 'interval',   omschrijving: 'Warming-up 5min wandelen, daarna 8× (1min lopen + 1,5min wandelen), cooling-down 5min wandelen', duurMin: 28, loopMin: 8  },\n    wo: { type: 'interval',   omschrijving: 'Warming-up 5min wandelen, daarna 8× (1min lopen + 1,5min wandelen), cooling-down 5min wandelen', duurMin: 28, loopMin: 8  },\n    vr: { type: 'interval',   omschrijving: 'Warming-up 5min wandelen, daarna 8× (1,5min lopen + 1,5min wandelen), cooling-down 5min wandelen', duurMin: 30, loopMin: 12 },\n  },\n  2: {\n    ma: { type: 'interval',   omschrijving: 'Warming-up 5min wandelen, daarna 6× (2min lopen + 1min wandelen), cooling-down 5min wandelen', duurMin: 28, loopMin: 12 },\n    wo: { type: 'interval',   omschrijving: 'Warming-up 5min wandelen, daarna 6× (2min lopen + 1min wandelen), cooling-down 5min wandelen', duurMin: 28, loopMin: 12 },\n    vr: { type: 'interval',   omschrijving: 'Warming-up 5min wandelen, daarna 5× (3min lopen + 1,5min wandelen), cooling-down 5min wandelen', duurMin: 32, loopMin: 15 },\n  },\n  3: {\n    ma: { type: 'interval',   omschrijving: 'Warming-up 5min wandelen, daarna 4× (4min lopen + 2min wandelen), cooling-down 5min wandelen', duurMin: 33, loopMin: 16 },\n    wo: { type: 'interval',   omschrijving: 'Warming-up 5min wandelen, daarna 4× (4min lopen + 2min wandelen), cooling-down 5min wandelen', duurMin: 33, loopMin: 16 },\n    vr: { type: 'drempel',    omschrijving: 'Warming-up 5min wandelen, daarna 3× (6min lopen + 2min wandelen), cooling-down 5min wandelen', duurMin: 33, loopMin: 18 },\n  },\n  4: {\n    ma: { type: 'interval',   omschrijving: 'Warming-up 5min wandelen, daarna 3× (6min lopen + 2min wandelen), cooling-down 5min wandelen', duurMin: 33, loopMin: 18 },\n    wo: { type: 'duurloop',   omschrijving: 'Warming-up 5min wandelen, daarna 20min rustig doorlopen (Z2), cooling-down 5min wandelen', duurMin: 30, loopMin: 20 },\n    vr: { type: 'interval',   omschrijving: 'Warming-up 5min wandelen, daarna 2× (8min lopen + 2min wandelen), cooling-down 5min wandelen', duurMin: 30, loopMin: 16 },\n  },\n  5: {\n    ma: { type: 'duurloop',   omschrijving: 'Warming-up 5min wandelen, daarna 22min rustig doorlopen (Z2), cooling-down 5min wandelen', duurMin: 32, loopMin: 22 },\n    wo: { type: 'interval',   omschrijving: 'Warming-up 5min wandelen, daarna 4× (5min lopen + 1min wandelen), cooling-down 5min wandelen', duurMin: 31, loopMin: 20 },\n    vr: { type: 'duurloop',   omschrijving: 'Warming-up 5min wandelen, daarna 25min rustig doorlopen (Z2), cooling-down 5min wandelen', duurMin: 35, loopMin: 25 },\n  },\n  6: {\n    ma: { type: 'duurloop',   omschrijving: 'Warming-up 5min wandelen, daarna 25min rustig doorlopen (Z2), cooling-down 5min wandelen', duurMin: 35, loopMin: 25 },\n    wo: { type: 'tempo',      omschrijving: 'Warming-up 10min rustig, daarna 10min iets sneller (Z3), cooling-down 10min rustig', duurMin: 30, loopMin: 30 },\n    vr: { type: 'duurloop',   omschrijving: 'Warming-up 5min wandelen, daarna 28min rustig doorlopen (Z2), cooling-down 5min wandelen', duurMin: 38, loopMin: 28 },\n  },\n  7: {\n    ma: { type: 'duurloop',   omschrijving: '30min rustig doorlopen (Z2) zonder wandelpauzes', duurMin: 30, loopMin: 30 },\n    wo: { type: 'tempo',      omschrijving: 'Warming-up 10min rustig, 12min tempo (Z3-Z4), cooling-down 8min rustig', duurMin: 30, loopMin: 30 },\n    vr: { type: 'lange loop', omschrijving: '33min rustig doorlopen (Z2) — langste training tot nu toe', duurMin: 33, loopMin: 33 },\n  },\n  8: {\n    ma: { type: 'duurloop',   omschrijving: '30min rustig doorlopen (Z2) — tapering, iets rustiger', duurMin: 30, loopMin: 30 },\n    wo: { type: 'activatie',  omschrijving: '20min rustig inlopen + 4× 1min versnelling, cooling-down 5min', duurMin: 25, loopMin: 25 },\n    vr: { type: '5K poging',  omschrijving: '🏁 RACE DAY! Warming-up 10min wandelen, daarna zo ver en snel als je kunt lopen — stuur je tijd in!', duurMin: 45, loopMin: 40 },\n  },\n};\n\n// ── Bepaal huidige trainingsweek ─────────────────────────────────────────────\n// Gebruik n8n static data om startdatum bij te houden\nconst staticData = $getWorkflowStaticData('global');\n\n// Eerste run: sla startdatum op\nif (!staticData.schema5KStartDatum) {\n  staticData.schema5KStartDatum = new Date().toISOString().split('T')[0];\n}\n\nconst startDatum = new Date(staticData.schema5KStartDatum);\nconst vandaag    = new Date();\nconst dagVerschil = Math.floor((vandaag - startDatum) / (1000 * 60 * 60 * 24));\nconst weekNr     = Math.min(Math.floor(dagVerschil / 7) + 1, 8);\nconst dagInWeek  = dagVerschil % 7; // 0=ma, 1=di, 2=wo, 3=do, 4=vr, 5=za, 6=zo\n\n// Bepaal welke trainingsdag vandaag is (ma/wo/vr = trainingsdag, rest = rust)\nconst dagNamen = ['ma', 'di', 'wo', 'do', 'vr', 'za', 'zo'];\nconst dagNaamVandaag = dagNamen[dagInWeek];\nconst weekSchema = SCHEMA[weekNr] || SCHEMA[8];\nconst trainingVandaag = weekSchema[dagNaamVandaag] || null;\n\n// Volgende trainingsdag bepalen\nlet volgendeTraining = null;\nlet volgendeNaam = null;\nfor (let i = 1; i <= 7; i++) {\n  const volgendeDag = dagNamen[(dagInWeek + i) % 7];\n  if (weekSchema[volgendeDag]) {\n    const datumVolgende = new Date(vandaag);\n    datumVolgende.setDate(datumVolgende.getDate() + i);\n    volgendeTraining = weekSchema[volgendeDag];\n    volgendeNaam = datumVolgende.toLocaleDateString('nl-NL', { weekday: 'long', day: 'numeric', month: 'short' });\n    break;\n  }\n}\n\n// Vorige training (voor context)\nlet vorigeTraining = null;\nfor (let i = 1; i <= 7; i++) {\n  const vorigeDag = dagNamen[((dagInWeek - i) + 7) % 7];\n  if (weekSchema[vorigeDag]) {\n    vorigeTraining = weekSchema[vorigeDag];\n    break;\n  }\n}\n\n// Voortgang berekenen\nconst totaalTrainingsdagen = Object.keys(SCHEMA).reduce((s, w) => s + Object.keys(SCHEMA[w]).length, 0);\nconst gedaanTrainingsdagen = (weekNr - 1) * 3 + Object.keys(weekSchema).filter(d => {\n  const dagIdx = dagNamen.indexOf(d);\n  return dagIdx <= dagInWeek;\n}).length;\nconst voortgangPct = Math.round(gedaanTrainingsdagen / totaalTrainingsdagen * 100);\n\n// Schema samenvatting voor Groq\nconst schemaContext = {\n  weekNr,\n  dagNaamVandaag,\n  isTrainingsdag: trainingVandaag !== null,\n  startDatum: staticData.schema5KStartDatum,\n  dagVerschil,\n  voortgangPct,\n  gedaanTrainingsdagen,\n  totaalTrainingsdagen,\n\n  // Vandaag\n  vandaagTraining: trainingVandaag ? {\n    type:        trainingVandaag.type,\n    omschrijving: trainingVandaag.omschrijving,\n    duurMin:     trainingVandaag.duurMin,\n    loopMin:     trainingVandaag.loopMin,\n  } : null,\n\n  // Volgende training\n  volgendeTraining: volgendeTraining ? {\n    datum:        volgendeNaam,\n    type:         volgendeTraining.type,\n    omschrijving: volgendeTraining.omschrijving,\n    duurMin:      volgendeTraining.duurMin,\n  } : null,\n\n  // Hele week overzicht\n  weekOverzicht: Object.entries(weekSchema).map(([dag, t]) => `${dag}: ${t.type} — ${t.duurMin}min`).join(' | '),\n\n  // Race prediction context\n  huidig5KTijd: null, // wordt ingevuld door garmin data\n};\n\n// ── Readiness-aanpassing van de training ─────────────────────────────────────\nconst garminData = $input.first().json;\nschemaContext.huidig5KTijd = garminData.racePredictions?.vijfKm ?? null;\n\nconst readiness = garminData.trainingReadiness;\nconst score     = readiness?.score ?? 100;\nconst level     = (readiness?.level ?? '').toUpperCase();\nconst acuut     = garminData.trainingStatus?.acuutLoad    ?? null;\nconst chronisch = garminData.trainingStatus?.chronischLoad ?? null;\nconst acwrStatus = garminData.trainingStatus?.acwrStatus   ?? null;\n\n// Bepaal aanpassingsniveau\n// Groen  (≥70, acwrStatus OPTIMAL/HIGH): volg schema normaal\n// Oranje (40-69, of acwrStatus LOW):     lichter uitvoeren\n// Rood   (<40, of level LOW/RECOVERY):   rustdag aanbevolen\n\nlet aanpassing = 'normaal';\nlet aanpassingReden = null;\nlet aanpassingTraining = null;\n\nif (score < 40 || level === 'LOW' || level === 'RECOVERY' || level === 'POOR') {\n  aanpassing = 'rust';\n  aanpassingReden = `Readiness ${score}/100 (${level}) — lichamelijke belasting te hoog voor training vandaag.`;\n  aanpassingTraining = {\n    type: 'herstelwandeling',\n    omschrijving: `Geen looptraining vandaag. Optioneel: 20-30 minuten rustige wandeling op Z1 (hartslag onder ${Math.round((220 - LEEFTIJD) * 0.6)}bpm). Richt je op slaap en voeding.`,\n    duurMin: 0,\n    loopMin: 0,\n  };\n} else if (score < 70 || acwrStatus === 'LOW' || (acuut !== null && chronisch !== null && acuut < chronisch * 0.4)) {\n  aanpassing = 'licht';\n  aanpassingReden = `Readiness ${score}/100 (${level}) — schema aanpassen naar lichtere variant.`;\n  // Maak de geplande training lichter\n  if (schemaContext.vandaagTraining) {\n    const orig = schemaContext.vandaagTraining;\n    const kortereLoopMin = Math.max(Math.round(orig.loopMin * 0.65), 8);\n    aanpassingTraining = {\n      type: orig.type + ' (licht)',\n      omschrijving: orig.omschrijving\n        .replace(/(\\d+)min lopen/g, (_, m) => `${Math.round(m * 0.65)}min lopen`)\n        .replace(/(\\d+)× \\(/g, (_, n) => `${Math.max(Math.round(n * 0.65), 2)}× (`)\n        + ` — LICHTERE VARIANT: loop in Z1-Z2 (hartslag onder ${Math.round((220 - LEEFTIJD) * 0.7)}bpm), stop als je moe voelt.`,\n      duurMin: Math.round(orig.duurMin * 0.75),\n      loopMin: kortereLoopMin,\n    };\n  }\n} else {\n  aanpassing = 'normaal';\n  aanpassingReden = `Readiness ${score}/100 (${level}) — schema volgen zoals gepland.`;\n  aanpassingTraining = schemaContext.vandaagTraining;\n}\n\n// Voeg toe aan schemaContext\nschemaContext.aanpassing        = aanpassing;          // 'normaal' | 'licht' | 'rust'\nschemaContext.aanpassingReden   = aanpassingReden;\nschemaContext.aanpassingTraining = aanpassingTraining; // de aangepaste training\nschemaContext.origineelTraining  = schemaContext.vandaagTraining; // bewaar origineel\nschemaContext.readinessScore    = score;\nschemaContext.readinessLevel    = level;\n\n// Overschrijf vandaagTraining met de aangepaste versie\nif (aanpassingTraining) {\n  schemaContext.vandaagTraining = aanpassingTraining;\n}\n\nreturn [{ json: { ...garminData, schemaContext } }];"
      },
      "id": "[NODE ID 1]",
      "name": "Haal 5K Schema Op",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        752,
        608
      ]
    },
    {
      "parameters": {
        "jsCode": "\n// Sla nieuwe adviezen op in n8n Static Data\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.adviezen) staticData.adviezen = [];\nif (!staticData.gegenereerd_op) staticData.gegenereerd_op = [];\n\nconst input       = $input.first().json;\nconst { analyse, garminData } = input;\nconst vandaag     = new Date().toISOString();\nconst datumLabel  = vandaag.split('T')[0];\n\n// Secties om adviezen uit te halen\nconst secties = [\n  { marker: 'Top 5 Slapadviezen',   categorie: 'Slaap' },\n  { marker: 'Top 5 Beweegadviezen', categorie: 'Beweging' },\n  { marker: 'Doelen voor volgende', categorie: 'Doel' },\n  { marker: 'Acties voor vandaag',  categorie: 'Actie' },\n];\n\nconst nieuweAdviezen = [];\nlet overgeslagen = 0;\n\nfor (const sectie of secties) {\n  const idx = analyse.indexOf(sectie.marker);\n  if (idx === -1) continue;\n\n  // Pak ~600 tekens na de sectie-header\n  const stuk = analyse.slice(idx, idx + 600);\n  const re = /^\\d+\\.\\s+(.+)$/gm;\n  let m;\n\n  while ((m = re.exec(stuk)) !== null) {\n    const titelRuw = m[1].trim().replace(/\\[.*?\\]/g, '').trim();\n    if (titelRuw.length < 5) continue;\n\n    const key = titelRuw.slice(0, 60).toLowerCase();\n    const bestaat = staticData.adviezen.some(\n      a => a.titel.slice(0, 60).toLowerCase() === key\n    );\n\n    if (!bestaat) {\n      nieuweAdviezen.push({\n        id:         `${datumLabel}-${sectie.categorie}-${nieuweAdviezen.length}`,\n        datum:      vandaag,\n        categorie:  sectie.categorie,\n        titel:      titelRuw,\n        feedback:   null,\n        herhaalCount: 0\n      });\n    } else {\n      // Verhoog teller op bestaand advies\n      const bestaand = staticData.adviezen.find(\n        a => a.titel.slice(0, 60).toLowerCase() === key\n      );\n      if (bestaand) bestaand.herhaalCount = (bestaand.herhaalCount || 0) + 1;\n      overgeslagen++;\n    }\n  }\n}\n\n// Voeg nieuwe adviezen toe en bewaar max 200 (FIFO)\nstaticData.adviezen = [...staticData.adviezen, ...nieuweAdviezen].slice(-200);\nstaticData.gegenereerd_op = [...staticData.gegenereerd_op, vandaag].slice(-90);\n\n// Statistieken voor rapport\nconst geheugenStats = {\n  totaalAdviezen: staticData.adviezen.length,\n  nieuweVandaag:  nieuweAdviezen.length,\n  overgeslagen\n};\n\nreturn [{ json: { analyse, garminData, geheugenStats } }];\n"
      },
      "id": "[NODE ID 2]",
      "name": "Sla Adviezen Op",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1072,
        608
      ]
    },
    {
      "parameters": {
        "jsCode": "\n// Laad adviesgeheugen via n8n Static Data (geen fs, geen externe modules nodig)\nconst staticData = $getWorkflowStaticData('global');\n\n// Initialiseer als leeg als het nog niet bestaat\nif (!staticData.adviezen) staticData.adviezen = [];\nif (!staticData.gegenereerd_op) staticData.gegenereerd_op = [];\n\nconst adviezen = staticData.adviezen;\nconst aantalAdviezen = adviezen.length;\n\n// Sorteer op datum, pak laatste 40\nconst laatste40 = [...adviezen]\n  .sort((a, b) => new Date(b.datum) - new Date(a.datum))\n  .slice(0, 40);\n\n// Groepeer per categorie\nconst perCategorie = {};\nfor (const adv of laatste40) {\n  const cat = adv.categorie || 'Overig';\n  if (!perCategorie[cat]) perCategorie[cat] = [];\n  perCategorie[cat].push(adv);\n}\n\n// Bouw leesbare tekst voor de Groq-prompt\nlet geheugenTekst = `## EERDER GEGEVEN ADVIEZEN (laatste 40 van totaal ${aantalAdviezen})\\n`;\ngeheugenTekst += `Vermijd herhaling van deze adviezen tenzij data aantoont dat het nog steeds kritiek is.\\n\\n`;\n\nif (aantalAdviezen === 0) {\n  geheugenTekst += '_Nog geen eerdere adviezen — dit is de eerste run._\\n';\n} else {\n  for (const [cat, items] of Object.entries(perCategorie)) {\n    geheugenTekst += `### ${cat}\\n`;\n    for (const item of items) {\n      const datum = (item.datum || '').split('T')[0];\n      let regel = `- [${datum}] ${item.titel}`;\n      if (item.feedback) regel += ` → Feedback: \"${item.feedback}\"`;\n      geheugenTekst += regel + '\\n';\n    }\n    geheugenTekst += '\\n';\n  }\n}\n\n// Geef garminData + geheugencontext door\nconst garminData = $input.first().json;\nreturn [{ json: {\n  ...garminData,\n  geheugen: { adviezen, gegenereerd_op: staticData.gegenereerd_op },\n  geheugenTekst,\n  aantalAdviezen\n}}];\n"
      },
      "id": "[NODE ID 3]",
      "name": "Laad Advies Geheugen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        576,
        608
      ]
    },
    {
      "parameters": {
        "fromEmail": "[from mail]",
        "toEmail": "[to mail]",
        "subject": "={{ $json.onderwerp }}",
        "html": "={{ $json.html }}",
        "options": {
          "ccEmail": ""
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1440,
        608
      ],
      "id": "[NODE ID 4]",
      "name": "Send an Email",
      "webhookId": "[WEBHOOK ID]"
    },
    {
      "parameters": {
        "jsCode": "const { analyse, garminData, geheugenStats } = $input.first().json;\nconst gem  = garminData.gemiddelden;\nconst geheugenbadge = geheugenStats\n  ? `<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\"><tr><td style=\"background:#f0fdf4;border:1px solid #86efac;border-radius:10px;padding:12px 16px;font-size:13px;color:#166534;font-family:Arial,sans-serif\">\n       🧠 <strong>Adviesgeheugen actief</strong> — ${geheugenStats.nieuweVandaag} nieuwe · ${geheugenStats.overgeslagen ?? 0} overgeslagen · Totaal ${geheugenStats.totaalAdviezen}\n     </td></tr></table><br>`\n  : '';\nconst tr   = garminData.trends;\nconst SD   = garminData.slaapData    || [];\nconst STAP = garminData.stapsData    || [];\nconst HR   = garminData.hartslagData || [];\nconst ST   = garminData.stressData   || [];\nconst HRV  = garminData.hrvData      || [];\nconst GW   = garminData.gewichtData  || [];\nconst TR   = garminData.trainingReadiness;\nconst SC   = garminData.schemaContext || null;\nconst TS   = garminData.trainingStatus;\nconst VO2  = garminData.vo2maxData   || [];\nconst RACE = garminData.racePredictions;\n\nconst nu = new Date();\nconst stapDoel = gem.stapDoel || 8000;\nconst datumStr = nu.toLocaleDateString('nl-NL', { weekday:'long', year:'numeric', month:'long', day:'numeric' });\n\nfunction formatDatum(isoStr) {\n  if (!isoStr) return '?';\n  const dt = new Date(isoStr + 'T00:00:00');\n  const dag = dt.toLocaleDateString('nl-NL', { weekday: 'long' });\n  const d2  = dt.toLocaleDateString('nl-NL', { day: 'numeric', month: 'long' });\n  return `${d2} (${dag})`;\n}\nconst dagLabels = SD.map(d => {\n  const dt = new Date(d.datum);\n  return dt.toLocaleDateString('nl-NL',{weekday:'short'}).slice(0,2) + dt.getDate();\n});\n\n// ─── GRAFIEK HELPERS (Gmail-safe: alleen tables/td) ───────────────────────\nconst GRAFIEK_BREEDTE = 280;\nconst N = dagLabels.length || 7;\nconst COL_W = Math.floor(GRAFIEK_BREEDTE / N);\nconst BAR_W = Math.max(COL_W - 6, 8);\n\nfunction staafGrafiek(items, hoogte, barDataFn, dagLabelsFn) {\n  const cols = items.map((item, i) => {\n    const bars = barDataFn(item);\n    const dagLbl = dagLabelsFn ? dagLabelsFn(i) : (dagLabels[i] || '');\n    const pixelBars = bars.map(b => ({\n      ...b, px: Math.max(Math.round((b.pct || 0) * hoogte / 100), (b.pct > 0 ? 2 : 0))\n    })).filter(b => b.px > 0);\n    const totaalPx = pixelBars.reduce((s, b) => s + b.px, 0);\n    const leegte = Math.max(hoogte - totaalPx, 0);\n    const labelBoven = bars.find(b => b.label)?.label || '';\n    const labelKleur = pixelBars.length > 0 ? pixelBars[pixelBars.length - 1].kleur : '#999';\n    const barsVanBovenNaarOnder = [...pixelBars].reverse();\n    let rijen = '';\n    if (leegte > 0) rijen += `<tr><td width=\"${BAR_W}\" height=\"${leegte}\" style=\"height:${leegte}px;font-size:0;line-height:0\">&nbsp;</td></tr>`;\n    barsVanBovenNaarOnder.forEach(b => {\n      rijen += `<tr><td width=\"${BAR_W}\" height=\"${b.px}\" style=\"background:${b.kleur};height:${b.px}px;font-size:0;line-height:0\">&nbsp;</td></tr>`;\n    });\n    return `<td width=\"${COL_W}\" style=\"vertical-align:bottom;text-align:center;padding:0 3px\">\n      ${labelBoven ? `<div style=\"font-size:9px;font-weight:700;color:${labelKleur};font-family:Arial,sans-serif;line-height:1.2;margin-bottom:1px\">${labelBoven}</div>` : ''}\n      <table cellpadding=\"0\" cellspacing=\"0\" width=\"${BAR_W}\" style=\"margin:0 auto;border-collapse:collapse\">${rijen}</table>\n      <div style=\"font-size:9px;color:#aaa;font-family:Arial,sans-serif;margin-top:3px;line-height:1.2\">${dagLbl}</div>\n    </td>`;\n  }).join('');\n  return `<table cellpadding=\"0\" cellspacing=\"0\" style=\"border-collapse:collapse;width:${GRAFIEK_BREEDTE}px\"><tr valign=\"bottom\">${cols}</tr></table>`;\n}\n\nfunction puntGrafiek(items, hoogte, valFn, kleur, labelFn) {\n  const waarden = items.map(valFn).map(v => (v && v > 0) ? v : null);\n  const geldig  = waarden.filter(v => v !== null);\n  if (geldig.length === 0) {\n    return `<table cellpadding=\"0\" cellspacing=\"0\" style=\"width:${GRAFIEK_BREEDTE}px\"><tr><td style=\"text-align:center;color:#ccc;font-size:11px;padding:16px 0;font-family:Arial,sans-serif\">Geen data beschikbaar</td></tr></table>`;\n  }\n  const minV = Math.min(...geldig);\n  const maxV = Math.max(...geldig);\n  const range = maxV - minV || 1;\n  const dotH = 8;\n  const cols = items.map((item, i) => {\n    const val = waarden[i];\n    const dagLbl = dagLabels[i] || '';\n    if (val === null) {\n      return `<td width=\"${COL_W}\" style=\"text-align:center;padding:0 3px\"><div style=\"height:${hoogte + 16}px\"></div><div style=\"font-size:9px;color:#aaa;font-family:Arial,sans-serif\">${dagLbl}</div></td>`;\n    }\n    const pct = (val - minV) / range;\n    const dotVanOnder = Math.round(pct * (hoogte - dotH));\n    const boven = hoogte - dotVanOnder - dotH;\n    const label = labelFn ? labelFn(val) : String(val);\n    return `<td width=\"${COL_W}\" style=\"vertical-align:top;text-align:center;padding:0 3px\">\n      <table cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"border-collapse:collapse\">\n        <tr><td height=\"${Math.max(boven - 14, 0)}\" style=\"height:${Math.max(boven - 14, 0)}px;font-size:0;line-height:0\">&nbsp;</td></tr>\n        <tr><td style=\"text-align:center;font-size:9px;font-weight:700;color:${kleur};font-family:Arial,sans-serif;line-height:1.2\">${label}</td></tr>\n        <tr><td height=\"4\" style=\"height:4px;font-size:0;line-height:0\">&nbsp;</td></tr>\n        <tr><td style=\"text-align:center\"><div style=\"width:8px;height:8px;background:${kleur};border-radius:50%;border:2px solid white;outline:1px solid ${kleur};margin:0 auto;font-size:0;line-height:0\">&nbsp;</div></td></tr>\n        <tr><td height=\"${Math.max(dotVanOnder, 0)}\" style=\"height:${Math.max(dotVanOnder, 0)}px;font-size:0;line-height:0\">&nbsp;</td></tr>\n      </table>\n      <div style=\"font-size:9px;color:#aaa;font-family:Arial,sans-serif;margin-top:2px;line-height:1.2\">${dagLbl}</div>\n    </td>`;\n  }).join('');\n  return `<table cellpadding=\"0\" cellspacing=\"0\" style=\"border-collapse:collapse;width:${GRAFIEK_BREEDTE}px\"><tr valign=\"top\">${cols}</tr></table>`;\n}\n\n// ─── GRAFIEKEN ────────────────────────────────────────────────────────────\n\n// G1: Slaap gestapeld\nconst maxSlaap = Math.max(...SD.map(d => d.totaalUur || 0), 9);\nconst grafiek1 = staafGrafiek(SD, 100,\n  d => [\n    { pct: (d.lightUur || 0) / maxSlaap * 100, kleur: '#90caf9' },\n    { pct: (d.remUur   || 0) / maxSlaap * 100, kleur: '#7c4dff' },\n    { pct: (d.diepUur  || 0) / maxSlaap * 100, kleur: '#1565c0', label: d.totaalUur > 0 ? d.totaalUur + 'u' : '' }\n  ]\n);\n\n// G1b: Slaapscore\nconst grafiek1b = puntGrafiek(SD, 50, d => d.score, '#ff6f00');\n\n// G2: Stappen\nconst maxStap = Math.max(...STAP.map(d => Math.max(d.stappen || 0, d.stapDoel || 0)), stapDoel);\nconst grafiek2 = staafGrafiek(STAP, 90,\n  d => {\n    const pct = (d.stappen || 0) / maxStap * 100;\n    const klr = (d.stappen || 0) >= (d.stapDoel || stapDoel) ? '#4caf50'\n              : (d.stappen || 0) >= (d.stapDoel || stapDoel) * 0.75 ? '#ff9800' : '#f44336';\n    return [{ pct, kleur: klr, label: d.stappen > 0 ? (Math.round(d.stappen / 100) / 10).toFixed(1) + 'k' : '' }];\n  }\n);\n\n// G3a: Rustpols\nconst hrMerged = HR.map((d, i) => ({ ...d, rustpols: d.rustpols || (STAP[i] && STAP[i].rustpols) || null }));\nconst grafiek3a = puntGrafiek(hrMerged, 70, d => d.rustpols, '#e53935');\n\n// G3b: HRV\nconst grafiek3b = puntGrafiek(HRV, 70, d => d.weekGem, '#00897b');\n\n// G4: Stress\nconst stressComponentenSom = ST.map(d => (d.rustMin||0)+(d.laagMin||0)+(d.middenMin||0)+(d.hoogMin||0));\nconst heeftStressComponenten = stressComponentenSom.some(v => v > 0);\nconst stressPuntData = ST.map((d,i) => ({ gemStress: (d.gemStress&&d.gemStress>0)?d.gemStress:(STAP[i]&&STAP[i].gemStress&&STAP[i].gemStress>0)?STAP[i].gemStress:null }));\nconst heeftStressPunten = stressPuntData.some(d => d.gemStress);\nlet grafiek4;\nif (heeftStressComponenten) {\n  const maxStress = Math.max(...stressComponentenSom, 60);\n  grafiek4 = staafGrafiek(ST, 90, d => [\n    { pct: (d.rustMin   || 0) / maxStress * 100, kleur: '#a5d6a7' },\n    { pct: (d.laagMin   || 0) / maxStress * 100, kleur: '#ffe082' },\n    { pct: (d.middenMin || 0) / maxStress * 100, kleur: '#ffb74d' },\n    { pct: (d.hoogMin   || 0) / maxStress * 100, kleur: '#ef5350', label: d.gemStress ? String(d.gemStress) : '' }\n  ]);\n} else if (heeftStressPunten) {\n  grafiek4 = puntGrafiek(stressPuntData, 70, d => d.gemStress, '#ff9800', v => String(v));\n} else {\n  grafiek4 = '<div style=\"text-align:center;color:#ccc;font-size:11px;padding:16px;font-family:Arial,sans-serif\">Geen stressdata beschikbaar</div>';\n}\n\n// G5: Body Battery\nconst grafiek5 = staafGrafiek(STAP, 90,\n  d => {\n    if (!d.bbHoog && !d.bbLaag) return [{ pct: 0, kleur: '#eee' }];\n    const klr = (d.bbHoog || 0) >= 60 ? '#42a5f5' : (d.bbHoog || 0) >= 40 ? '#ffb74d' : '#ef5350';\n    return [\n      { pct: d.bbLaag || 0, kleur: '#f0f0f0' },\n      { pct: Math.max((d.bbHoog || 0) - (d.bbLaag || 0), 1), kleur: klr, label: d.bbHoog ? String(d.bbHoog) : '' }\n    ];\n  }\n);\n\n// ─── HELPERS ─────────────────────────────────────────────────────────────\nconst kleurFn = (v, g, o) => v >= g ? '#2e7d32' : v >= o ? '#e65100' : '#c62828';\n\nconst balk = (pct, klr) => {\n  const p = Math.min(Math.max(Math.round(pct || 0), 0), 100);\n  const rest = 100 - p;\n  if (p === 0) return `<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-top:5px\"><tr><td style=\"background:#e8e8e8;height:5px;border-radius:3px;font-size:0;line-height:0\">&nbsp;</td></tr></table>`;\n  return `<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-top:5px\"><tr>\n    <td width=\"${p}%\" style=\"background:${klr};height:5px;border-radius:3px;font-size:0;line-height:0\">&nbsp;</td>\n    ${rest > 0 ? `<td width=\"${rest}%\" style=\"background:#e8e8e8;height:5px;border-radius:3px;font-size:0;line-height:0\">&nbsp;</td>` : ''}\n  </tr></table>`;\n};\n\nconst kaart = (w, lbl, klr, pct = null) =>\n  `<td width=\"50%\" style=\"padding:3px\">\n    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#fafafa;border-radius:10px;border-top:4px solid ${klr}\">\n      <tr><td style=\"text-align:center;padding:12px 8px\">\n        <div style=\"font-size:22px;font-weight:900;color:${klr};font-family:Arial,sans-serif;line-height:1.2\">${w}</div>\n        <div style=\"color:#888;font-size:11px;font-family:Arial,sans-serif;margin-top:4px;line-height:1.4\">${lbl}</div>\n        ${pct !== null ? balk(pct, klr) : ''}\n      </td></tr>\n    </table>\n  </td>`;\n\nconst legL = (klr, lbl) =>\n  `<span style=\"display:inline-block;margin-right:8px;font-size:11px;color:#555;font-family:Arial,sans-serif\">\n    <span style=\"display:inline-block;width:10px;height:10px;background:${klr};border-radius:2px;vertical-align:middle;margin-right:3px\"></span>${lbl}\n  </span>`;\n\nconst grafiekBlok = (titel, legenda, grafiek) =>\n  `<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom:22px\">\n    <tr><td style=\"padding-bottom:6px\">\n      <div style=\"font-size:14px;font-weight:800;color:#1a1a2e;font-family:Arial,sans-serif\">${titel}</div>\n      <div style=\"margin-top:4px\">${legenda}</div>\n    </td></tr>\n    <tr><td>${grafiek}</td></tr>\n  </table>`;\n\n// ─── ANALYSE → HTML ──────────────────────────────────────────────────────\nconst htmlAnalyse = analyse\n  .replace(/\\*\\*(.+?)\\*\\*/g, '<strong>$1</strong>')\n  .replace(/^#{1,3} (.+)$/gm, (_, t) =>\n    `<div style=\"color:#1a1a2e;margin:20px 0 8px;font-size:15px;font-weight:800;font-family:Arial,sans-serif;border-left:3px solid #1a1a2e;padding-left:10px;line-height:1.4\">${t}</div>`)\n  .replace(/^(\\d+)\\. /gm, (_, n) => `<br><strong style=\"color:#1a1a2e;font-family:Arial,sans-serif\">${n}.</strong> `)\n  .replace(/✅/g, '<span style=\"color:#2e7d32\">✅</span>')\n  .replace(/🟡/g, '<span style=\"color:#f57f17\">🟡</span>')\n  .replace(/❌/g, '<span style=\"color:#c62828\">❌</span>')\n  .replace(/▲/g, '<span style=\"color:#2e7d32;font-weight:bold\">▲</span>')\n  .replace(/▼/g, '<span style=\"color:#c62828;font-weight:bold\">▼</span>')\n  .replace(/\\n\\n/g, '</p><p style=\"margin:10px 0;line-height:1.85;font-family:Arial,sans-serif;font-size:14px;color:#1a1a1a\">')\n  .replace(/\\n/g, '<br>');\n\nconst trendPijl = tr.slaapTrend > 0.2 ? '📈' : tr.slaapTrend < -0.2 ? '📉' : '➡️';\n\n// ─── Training Readiness badge ─────────────────────────────────────────────\nconst readinessBadge = TR\n  ? (() => {\n      const score = TR.score ?? 0;\n      const kleur = score >= 70 ? '#2e7d32' : score >= 40 ? '#e65100' : '#c62828';\n      const bg    = score >= 70 ? '#e8f5e9' : score >= 40 ? '#fff3e0' : '#ffebee';\n      return `<span style=\"display:inline-block;background:${bg};color:${kleur};padding:6px 10px;border-radius:16px;font-size:11px;font-weight:600;margin:3px 0;font-family:Arial,sans-serif\">🔋 Readiness ${score}/100 — ${TR.statusNL ?? TR.status ?? 'n.b.'}</span>`;\n    })()\n  : '';\n\n// ─── Race predictions badge ───────────────────────────────────────────────\nconst raceBadge = RACE && RACE.vijfKm\n  ? `<span style=\"display:inline-block;background:#f3e5f5;color:#6a1b9a;padding:6px 10px;border-radius:16px;font-size:11px;font-weight:600;margin:3px 0;font-family:Arial,sans-serif\">🏁 5K: ${RACE.vijfKm} · 10K: ${RACE.tienKm??'n.b.'}</span>`\n  : '';\n\nconst hardloopCtx = garminData.hardloopContext || {};\nconst hardloopBadge = (hardloopCtx.aantalSessiesDezeWeek || 0) > 0\n  ? `<span style=\"display:inline-block;background:#e8f5e9;color:#1b5e20;padding:6px 10px;border-radius:16px;font-size:11px;font-weight:600;margin:3px 0;font-family:Arial,sans-serif\">🏃 ${hardloopCtx.aantalSessiesDezeWeek} sessie(s) · ${hardloopCtx.totaalKmDezeWeek}km</span>`\n  : `<span style=\"display:inline-block;background:#fff3e0;color:#e65100;padding:6px 10px;border-radius:16px;font-size:11px;font-weight:600;margin:3px 0;font-family:Arial,sans-serif\">🏃 Nog geen loopsessies</span>`;\n\n// ─── Training Status badge ────────────────────────────────────────────────\nconst statusBadge = TS\n  ? `<span style=\"display:inline-block;background:#e8eaf6;color:#283593;padding:6px 10px;border-radius:16px;font-size:11px;font-weight:600;margin:3px 0;font-family:Arial,sans-serif\">📊 ${TS.statusNL ?? TS.status ?? 'n.b.'}</span>`\n  : '';\n\n// ─── HTML ─────────────────────────────────────────────────────────────────\nconst html = `<!DOCTYPE html>\n<html lang=\"nl\">\n<head><meta charset=\"utf-8\"><meta name=\"viewport\" content=\"width=device-width,initial-scale=1\"></head>\n<body style=\"margin:0;padding:10px;background:#eef0f3;font-family:Arial,sans-serif\">\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"max-width:480px;margin:0 auto\"><tr><td>\n\n${geheugenbadge}\n\n<!-- HEADER -->\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#1a1a2e;border-radius:16px 16px 0 0\">\n<tr><td style=\"padding:28px 20px 22px;text-align:center\">\n  <div style=\"font-size:40px;line-height:1;margin-bottom:6px\">⌚</div>\n  <div style=\"color:white;font-size:21px;font-weight:900;font-family:Arial,sans-serif;line-height:1.3\">Garmin Dagrapport</div>\n  <div style=\"color:rgba(255,255,255,0.55);font-size:12px;margin-top:5px;font-family:Arial,sans-serif\">${datumStr}</div>\n  <table cellpadding=\"0\" cellspacing=\"0\" style=\"margin:12px auto 0\"><tr>\n    <td style=\"background:rgba(255,255,255,0.13);padding:8px 14px;border-radius:20px;font-size:12px;color:white;font-family:Arial,sans-serif;line-height:1.6;text-align:center\">\n      ${trendPijl} Slaap ${tr.slaapTrend > 0 ? '+' : ''}${tr.slaapTrend}u &nbsp;·&nbsp; ${tr.dagenDoelGehaald}/7 stapdagen &nbsp;·&nbsp; ${gem.gemRustpols ?? '?'}bpm &nbsp;·&nbsp; VO2max ${gem.vo2maxHuidig ?? '?'}\n    </td>\n  </tr></table>\n</td></tr>\n</table>\n\n<!-- KAARTJES -->\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:white;border-bottom:1px solid #f0f0f0\">\n<tr><td style=\"padding:14px\">\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom:6px\"><tr>\n    ${kaart(gem.slaapUur + 'u', 'Gem. slaap/nacht', kleurFn(gem.slaapUur, 7.5, 6.5), Math.round(gem.slaapUur / 8.5 * 100))}\n    ${kaart(gem.slaapScore, 'Gem. slaapscore', kleurFn(gem.slaapScore, 75, 60), gem.slaapScore)}\n  </tr></table>\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom:6px\"><tr>\n    ${kaart((gem.gemStappen || 0).toLocaleString('nl-NL'), `Gem. stappen/dag (doel ${stapDoel.toLocaleString('nl-NL')})`, kleurFn(gem.gemStappen, stapDoel, stapDoel * 0.625), Math.round((gem.gemStappen || 0) / stapDoel * 100))}\n    ${kaart(gem.gemBodyBattery ?? 'n.b.', 'Gem. Body Battery', kleurFn(gem.gemBodyBattery || 0, 60, 40), gem.gemBodyBattery || 0)}\n  </tr></table>\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom:6px\"><tr>\n    ${kaart(gem.gemRustpols ?? 'n.b.', 'Rustpols gem. bpm', kleurFn(100 - (gem.gemRustpols || 70), 30, 10))}\n    ${kaart(gem.gemHRV ?? 'n.b.', 'HRV gem. week', kleurFn(gem.gemHRV || 0, 40, 25))}\n  </tr></table>\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom:6px\"><tr>\n    ${kaart(gem.gemStressWeek ?? 'n.b.', 'Gem. stress week', kleurFn(100 - (gem.gemStressWeek || 50), 60, 30))}\n    ${kaart(gem.vo2maxHuidig ?? 'n.b.', 'VO2max', kleurFn(gem.vo2maxHuidig || 0, 45, 38), gem.vo2maxHuidig ? Math.round(gem.vo2maxHuidig / 60 * 100) : null)}\n  </tr></table>\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom:6px\"><tr>\n    ${kaart((tr.totaalIntMid + tr.totaalIntHoog) + 'min', 'Intensiteitsmin (doel 150)', (tr.totaalIntMid + tr.totaalIntHoog) >= 150 ? '#2e7d32' : '#e65100', Math.round((tr.totaalIntMid + tr.totaalIntHoog) / 150 * 100))}\n    ${kaart(tr.dagenDoelGehaald + '/10', 'Dagen stapdoel', tr.dagenDoelGehaald >= 5 ? '#2e7d32' : tr.dagenDoelGehaald >= 3 ? '#e65100' : '#c62828')}\n  </tr></table>\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\"><tr>\n    ${kaart((gem.gewichtHuidig ?? 'n.b.') + (gem.gewichtHuidig ? 'kg' : ''), 'Gewicht' + (gem.gewichtDelta !== null ? ` (${gem.gewichtDelta > 0 ? '+' : ''}${gem.gewichtDelta}kg)` : ''), '#795548')}\n    ${TR ? kaart((TR.score??'n.b.')+'/100', 'Training Readiness', kleurFn(TR.score||0, 70, 40), TR.score||0) : kaart('n.b.', 'Training Readiness', '#aaa')}\n  </tr></table>\n  <!-- 5K SCHEMA KAARTJE -->\n  ${SC ? `<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom:8px\">\n  <tr><td style=\"background:${SC.isTrainingsdag ? '#e8f5e9' : '#f3e5f5'};border-left:4px solid ${SC.isTrainingsdag ? '#2e7d32' : '#7b1fa2'};border-radius:8px;padding:14px 16px\">\n    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\"><tr>\n      <td style=\"vertical-align:top\">\n        <div style=\"font-size:13px;font-weight:800;color:${SC.aanpassing === 'rust' ? '#b71c1c' : SC.aanpassing === 'licht' ? '#e65100' : SC.isTrainingsdag ? '#1b5e20' : '#4a148c'};font-family:Arial,sans-serif;margin-bottom:6px\">\n          ${SC.aanpassing === 'rust' ? '⛔ Rustdag (readiness te laag)' : SC.aanpassing === 'licht' ? '⚠️ Lichte training (readiness matig)' : SC.isTrainingsdag ? '🏃 Trainingsdag' : '😴 Rustdag'} — Week ${SC.weekNr}/8\n        </div>\n        ${SC.aanpassingReden ? `<div style=\"font-size:11px;color:#666;font-family:Arial,sans-serif;margin-bottom:6px;font-style:italic\">${SC.aanpassingReden}</div>` : ''}\n        <div style=\"font-size:12px;color:#333;font-family:Arial,sans-serif;line-height:1.6\">\n          ${SC.vandaagTraining\n            ? `<strong>${SC.vandaagTraining.type}</strong> · ${SC.vandaagTraining.duurMin} min<br><span style=\"color:#555\">${SC.vandaagTraining.omschrijving}</span>`\n            : `Rust en herstel. Volgende training: <strong>${SC.volgendeTraining?.datum ?? '?'}</strong><br><span style=\"color:#555\">${SC.volgendeTraining?.omschrijving ?? ''}</span>`\n          }\n        </div>\n        <div style=\"margin-top:8px\">\n          <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\"><tr>\n            <td width=\"${SC.voortgangPct}%\" style=\"background:${SC.isTrainingsdag ? '#4caf50' : '#9c27b0'};height:4px;border-radius:3px;font-size:0\">&nbsp;</td>\n            <td width=\"${100 - SC.voortgangPct}%\" style=\"background:#e0e0e0;height:4px;border-radius:3px;font-size:0\">&nbsp;</td>\n          </tr></table>\n          <div style=\"font-size:10px;color:#888;font-family:Arial,sans-serif;margin-top:4px\">${SC.voortgangPct}% voltooid · ${SC.gedaanTrainingsdagen}/${SC.totaalTrainingsdagen} trainingen · 5K prediction: ${SC.huidig5KTijd ?? 'n.b.'}</div>\n        </div>\n      </td>\n    </tr></table>\n  </td></tr>\n  </table>` : ''}\n\n  <div style=\"margin-top:10px\">\n    <span style=\"display:inline-block;background:#e8f5e9;color:#2e7d32;padding:6px 10px;border-radius:16px;font-size:11px;font-weight:600;margin:3px 3px 3px 0;font-family:Arial,sans-serif\">😴 Beste: ${formatDatum(tr.bestesSlaapDag)} (${tr.bestesSlaapScore})</span>\n    <span style=\"display:inline-block;background:#ffebee;color:#c62828;padding:6px 10px;border-radius:16px;font-size:11px;font-weight:600;margin:3px 3px 3px 0;font-family:Arial,sans-serif\">😴 Slechtste: ${formatDatum(tr.slechtesteSlaapDag)} (${tr.slechtesteSlaapScore})</span>\n    <span style=\"display:inline-block;background:#e3f2fd;color:#1565c0;padding:6px 10px;border-radius:16px;font-size:11px;font-weight:600;margin:3px 3px 3px 0;font-family:Arial,sans-serif\">👟 ${formatDatum(tr.meesteStappenDag)}: ${(tr.meesteStappen || 0).toLocaleString('nl-NL')}</span>\n    ${hardloopBadge}\n    ${readinessBadge}\n    ${statusBadge}\n    ${raceBadge}\n  </div>\n</td></tr>\n</table>\n\n<!-- AI ANALYSE -->\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:white;border-bottom:1px solid #f0f0f0\">\n<tr><td style=\"padding:20px 16px\">\n  <table cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom:16px;width:100%\"><tr>\n    <td width=\"42\" style=\"vertical-align:top\">\n      <table cellpadding=\"0\" cellspacing=\"0\"><tr><td width=\"38\" height=\"38\" style=\"width:38px;height:38px;background:#1a1a2e;border-radius:10px;text-align:center;font-size:20px;line-height:38px;color:white\">🤖</td></tr></table>\n    </td>\n    <td style=\"padding-left:10px;vertical-align:middle\">\n      <div style=\"font-weight:800;font-size:14px;color:#1a1a2e;font-family:Arial,sans-serif\">AI Gezondheidsanalyse</div>\n      <div style=\"font-size:11px;color:#aaa;font-family:Arial,sans-serif;margin-top:2px\">Groq llama-3.3-70b · 10 dagen · Readiness · Race · Fitness leeftijd</div>\n    </td>\n  </tr></table>\n  <p style=\"margin:0;line-height:1.85;font-family:Arial,sans-serif;font-size:14px;color:#1a1a1a\">${htmlAnalyse}</p>\n</td></tr>\n</table>\n\n<!-- GRAFIEKEN -->\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:white;border-radius:0 0 16px 16px;box-shadow:0 4px 16px rgba(0,0,0,0.07)\">\n<tr><td style=\"padding:20px 16px\">\n  <div style=\"font-size:16px;font-weight:900;color:#1a1a2e;font-family:Arial,sans-serif;border-bottom:2px solid #f0f0f0;padding-bottom:10px;margin-bottom:18px\">📊 Grafieken — 10 dagen</div>\n\n  ${grafiekBlok('😴 Slaap per nacht',\n    legL('#1565c0', 'Diep') + legL('#7c4dff', 'REM') + legL('#90caf9', 'Licht'),\n    grafiek1)}\n\n  ${grafiekBlok('📈 Slaapscore',\n    legL('#ff6f00', 'Score (punt = dag)'),\n    grafiek1b)}\n\n  ${grafiekBlok('👟 Stappen vs daagdoel',\n    legL('#4caf50', 'Doel ✓') + legL('#ff9800', '75%+') + legL('#f44336', 'Onder doel'),\n    grafiek2)}\n\n  ${grafiekBlok('💓 Rustpols (10 dagen)',\n    legL('#e53935', 'Rustpols bpm'),\n    grafiek3a)}\n\n  ${grafiekBlok('💚 HRV weekgemiddelde',\n    legL('#00897b', 'HRV weekgem'),\n    grafiek3b)}\n\n  ${grafiekBlok('🧠 Stress per dag',\n    heeftStressComponenten\n      ? legL('#a5d6a7','Rust') + legL('#ffe082','Laag') + legL('#ffb74d','Midden') + legL('#ef5350','Hoog')\n      : legL('#ff9800','Gem. stress score'),\n    grafiek4)}\n\n  ${grafiekBlok('⚡ Body Battery bereik',\n    legL('#42a5f5', 'Hoog ≥60') + legL('#ffb74d', 'Matig') + legL('#ef5350', 'Laag'),\n    grafiek5)}\n\n  <div style=\"color:#ccc;font-size:10px;text-align:center;margin-top:14px;border-top:1px solid #f5f5f5;padding-top:12px;line-height:1.6;font-family:Arial,sans-serif\">\n    Garmin REST API [NAS IP]:8085 · Groq llama-3.3-70b · ${nu.toLocaleDateString('nl-NL', { day:'numeric', month:'long', year:'numeric' })}\n  </div>\n</td></tr>\n</table>\n\n</td></tr></table>\n</body></html>`;\n\nreturn [{ json: {\n  html,\n  onderwerp: `⌚ Garmin ${nu.toLocaleDateString('nl-NL', { day: 'numeric', month: 'long' })} — ${gem.slaapUur}u slaap ${trendPijl} | ${(gem.gemStappen || 0).toLocaleString('nl-NL')} stappen | HR ${gem.gemRustpols ?? '?'}bpm | VO2max ${gem.vo2maxHuidig ?? '?'} | BB ${gem.gemBodyBattery}`,\n  analyse\n} }];"
      },
      "id": "[NODE ID 5]",
      "name": "Maak HTML rapport",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1264,
        608
      ]
    },
    {
      "parameters": {
        "jsCode": "const inp = $input.first().json;\nconst d = inp;\nconst geheugenTekst = inp.geheugenTekst || '## EERDER GEGEVEN ADVIEZEN\\nNog geen eerdere adviezen opgeslagen.';\nconst gem = d.gemiddelden;\nconst tr  = d.trends;\n\nconst GROQ_API_KEY = '[API KEY]';\nconst SC = d.schemaContext || null;\n\nconst slaapTrendTekst = tr.slaapTrend > 0.2\n  ? `📈 VERBETERING: +${tr.slaapTrend}u slaap in de loop van de week`\n  : tr.slaapTrend < -0.2\n  ? `📉 VERSLECHTERING: ${tr.slaapTrend}u slaap in de loop van de week`\n  : '➡️ Slaap stabiel door de week';\n\n// Activiteiten van vandaag\nconst vandaagGedaan = d.vandaagGedaan || [];\nconst vandaagSectie = vandaagGedaan.length > 0\n  ? `🏅 VANDAAG AL VOLTOOID:\\n${vandaagGedaan.join('\\n')}\\n\\n⚠️ INSTRUCTIE: Geef GEEN bewegingsadvies meer voor vandaag. Erken de activiteit(en) UITDRUKKELIJK en enthousiast.`\n  : `📋 Nog geen activiteiten gelogd voor vandaag.`;\n\n// Persoonlijke records samenvatting\nconst recordsBlok = d.persoonlijkeRecords\n  ? d.persoonlijkeRecords.filter(r => [4,5,6,1].includes(r.typeId)).map(r => `${r.typeNaam}: ${r.waarde} (${r.datum})`).join(' | ')\n  : 'n.b.';\n\nconst prompt = `Analyseer deze Garmin data grondig dag voor dag. Schrijf in het Nederlands. Noem specifieke datums, scores en cijfers.\n\n## ACTIVITEITEN VAN VANDAAG — LEES DIT EERST\n${vandaagSectie}\n\n## SLAAP — 10 DAGEN\n${d.slaapTekst}\n\n## STAPPEN & DAGELIJKSE STATS — 10 DAGEN\n${d.stappenTekst}\n\n## STRESS — 10 DAGEN\n${d.stressTekstWeek}\n\n## HRV — 10 DAGEN\n${d.hrvTekstWeek}\n\n## GEWICHT — 10 DAGEN\n${d.gewichtTekstWeek}\n\n## HARTSLAG ZONES — 10 DAGEN\n${d.hrZoneTekst}\n\n## TRAINING READINESS (vandaag)\n${d.readinessTekst}\n\n## TRAINING STATUS & TRAININGSBELASTING\n${d.statusTekst}\n\n## FITNESS LEEFTIJD\n${d.fitnessLeeftijdTekst}\n\n## RACE PREDICTIONS\n${d.raceTekst}\n\n## PERSOONLIJKE RECORDS (loopnummers)\n${recordsBlok}\n\n## 5K TRAININGSSCHEMA — WEEK ${SC?.weekNr ?? '?'}/8\nVoortgang: ${SC?.voortgangPct ?? 0}% (${SC?.gedaanTrainingsdagen ?? 0}/${SC?.totaalTrainingsdagen ?? 24} trainingen)\nWeek overzicht: ${SC?.weekOverzicht ?? 'n.b.'}\nHuidige 5K race prediction: ${SC?.huidig5KTijd ?? 'n.b.'}\nStartdatum schema: ${SC?.startDatum ?? 'n.b.'}\n\n${SC?.isTrainingsdag\n  ? `🏃 VANDAAG IS EEN TRAININGSDAG (${SC?.dagNaamVandaag}):\nAanpassing o.b.v. readiness: ${SC?.aanpassing?.toUpperCase()} — ${SC?.aanpassingReden}\n${SC?.aanpassing !== 'normaal' && SC?.origineelTraining ? `Origineel schema: ${SC?.origineelTraining?.omschrijving}` : ''}\nAanbevolen training vandaag: ${SC?.vandaagTraining?.omschrijving}\nDuur: ${SC?.vandaagTraining?.duurMin} minuten`\n  : `😴 VANDAAG IS EEN RUSTDAG (${SC?.dagNaamVandaag}) — geen looptraining gepland`}\n${SC?.aanpassing === 'rust' ? '⚠️ SCHEMA-AANPASSING: Trainingsdag omgezet naar rustdag wegens lage readiness.' : ''}\n${SC?.aanpassing === 'licht' ? '⚠️ SCHEMA-AANPASSING: Training verlicht wegens matige readiness.' : ''}\n\nVolgende training: ${SC?.volgendeTraining?.datum ?? 'n.b.'} — ${SC?.volgendeTraining?.type ?? 'n.b.'} (${SC?.volgendeTraining?.duurMin ?? '?'} min)\n${SC?.volgendeTraining?.omschrijving ?? ''}\n\n## ACTIVITEITEN (laatste 10)\n${d.activiteitenTekst}\n\n## 21-DAAGSE GEMIDDELDEN & TRENDS\n- Slaap: ${gem.slaapUur}u/nacht → ${gem.slaapUur>=7.5?'✅ GOED':gem.slaapUur>=6.5?'🟡 MATIG':'❌ ONVOLDOENDE'} | Score: ${gem.slaapScore}/100\n- Stappen gem: ${gem.gemStappen}/dag | Jouw dagdoel: ${gem.stapDoel} stappen | ${tr.dagenDoelGehaald}/10 dagen doel gehaald → ${gem.gemStappen >= gem.stapDoel ? '✅ BOVEN DOEL' : gem.gemStappen >= gem.stapDoel * 0.75 ? '🟡 BIJNA' : '❌ ONDER DOEL'}\n- BELANGRIJK: Gebruik altijd ${gem.stapDoel} als stapdoel in adviezen, NOOIT 8000 of 10000.\n- Body Battery: ${gem.gemBodyBattery}/100\n- Rustpols: ${gem.gemRustpols??'n.b.'} bpm\n- Stress gem: ${gem.gemStressWeek??'n.b.'}/100\n- HRV gem: ${gem.gemHRV??'n.b.'}\n- Gewicht: ${gem.gewichtHuidig??'n.b.'}kg | Delta week: ${gem.gewichtDelta??'n.b.'}kg\n- VO2max: ${gem.vo2maxHuidig??'n.b. (geen GPS-lopen)'}\n- Intensiteitsminuten: ${tr.totaalIntMid+tr.totaalIntHoog}min (WHO doel 150min)\n- Slaaptrend: ${slaapTrendTekst}\n- Training Readiness: ${d.trainingReadiness?.score??'n.b.'}/100 — ${d.trainingReadiness?.levelNL??'n.b.'}\n- Training Status: ${d.trainingStatus?.statusNL??'n.b.'}\n- Trainingsbelasting: acuut ${d.trainingStatus?.acuutLoad??'n.b.'} vs chronisch ${d.trainingStatus?.chronischLoad??'n.b.'} (ACWR: ${d.trainingStatus?.acwrStatus??'n.b.'})\n- Fitness leeftijd: ${d.fitnessLeeftijd?.fitnessAge??'n.b.'} (haalbaar: ${d.fitnessLeeftijd?.haalbaarAge??'n.b.'}, chronologisch: ${d.fitnessLeeftijd?.chronologischAge??'n.b.'})\n\nGeef analyse met PRECIES deze structuur:\n\n**📊 Weekoverzicht**\n3-4 zinnen met grootste verbeteringen én aandachtspunten. Als er een activiteit van vandaag is: begin met erkenning.\n\n**😴 Slaapanalyse**\nGEEN dag-voor-dag opsomming. Beschrijf uitsluitend:\n- Algemene trend over de week (verbetering/verslechtering/stabiel) met begin- en eindwaarde\n- Uitschieters: beste en slechtste nacht met reden indien zichtbaar\n- Opvallende patronen: diepe slaap trend, REM trend, SpO2 range, ademhaling\n- Max 4 zinnen totaal.\n\n**💓 Hartslag & HRV**\nGEEN dag-voor-dag opsomming. Alleen: trend rustpols (begin→eind week), HRV weekgemiddelde en wat dit zegt over herstel. Max 3 zinnen.\n\n**🔋 Training Readiness & Belasting**\nReadiness score ${d.trainingReadiness?.score??'n.b.'}/100 — ${d.trainingReadiness?.levelNL??'n.b.'}.\nFeedback: ${d.trainingReadiness?.feedbackKort??'n.b.'} (${d.trainingReadiness?.feedbackLang??'n.b.'}).\nAcuut load ${d.trainingStatus?.acuutLoad??'n.b.'} vs chronisch ${d.trainingStatus?.chronischLoad??'n.b.'} — wat betekent dit?\nTrainingsbalans: ${d.trainingStatus?.balanceFeedback??'n.b.'} — wat ontbreekt?\n\n**📈 Fitness Leeftijd & VO2max**\nFitness leeftijd ${d.fitnessLeeftijd?.fitnessAge??'n.b.'} vs chronologisch ${d.fitnessLeeftijd?.chronologischAge??'n.b.'} — hoe groot is het verschil?\nHaalbaar ${d.fitnessLeeftijd?.haalbaarAge??'n.b.'} met meer intensieve training.\nVO2max: ${gem.vo2maxHuidig??'nog niet gemeten (alleen na GPS-buiten-loop)'}. Vergelijk met gemiddelde mannen 40-49 (gem 40-44, goed 45-51, uitstekend 52+).\n\n**🏁 Race Predictions & Records**\nRace predictions: ${d.raceTekst}\nPersoonlijke records: ${recordsBlok}\nMotiverende context voor iemand die voorzichtig opbouwt na inactiviteit.\n\n**❤️ Hartslag Zones**\nZone verdeling deze week: ${d.hrZoneTekst.split('\\n').slice(-1)[0]}\nOptimale Z2-training (70-80% van training). Uitleg voor beginners.\n\n**👟 Bewegingsanalyse**\n${vandaagGedaan.length > 0 ? 'BEGIN MET: 🎉 Geweldig gedaan! Je hebt ' + vandaagGedaan[0] + ' voltooid.' : ''}\nVERBODEN: dagwaarden opnoemen. VERPLICHT: schrijf uitsluitend adviezen en conclusies.\nVoorbeeld van GOED: \"Je haalt gemiddeld 60% van je stapdoel — verhoog dit stap voor stap naar 7.500 door elke ochtend een korte wandeling in te plannen.\"\nVoorbeeld van FOUT: \"Op maandag waren het 2805 stappen, op dinsdag 4143...\"\nBespreek: stapdoel (gebruik ALTIJD het getal ${gem.stapDoel}, nooit 10000 of 8000) haalbaar of niet + concreet advies, sedentaire tijd + concreet breekmoment advies, intensiteitsminuten trend + wat nog nodig is voor WHO doel. Max 4 zinnen.\n\n**⚡ Body Battery & Stress**\nVERBODEN: dagwaarden opnoemen. VERPLICHT: schrijf uitsluitend conclusies en adviezen.\nVoorbeeld van GOED: \"Je Body Battery zakt structureel onder de 20 — dit wijst op onvoldoende herstel. Prioriteit: eerder naar bed en minder schermtijd na 20:00.\"\nVoorbeeld van FOUT: \"De Body Battery was 33 op maandag, 19 op dinsdag...\"\nBespreek: wat het BB-patroon zegt over herstel + 1 concreet advies, stressniveau betekenis + 1 concreet advies. Max 3 zinnen.\n\n**⚖️ Gewicht**\nAlleen als er metingen zijn: trend over de week in 1 zin. Anders weglaten.\n\n**🔗 Top 3 Verbanden**\nConcrete verbanden met exacte datums en cijfers.\n\n${geheugenTekst}\n\n**💡 Top 5 Slapadviezen**\nOp basis van jouw specifieke data. Geen herhaling van eerder gegeven adviezen.\n1. [Met tijdstip] 2. 3. 4. 5.\n\n**🏃 Top 5 Beweegadviezen**\n${vandaagGedaan.length > 0 ? 'Punt 1 = positieve erkenning van de activiteit van vandaag.' : ''}\n1. 2. 3. 4. 5.\n\n**🎯 5K Trainingsschema — Vandaag & Deze Week**\nSTRUCTUUR (verplicht):\n1. Schema voortgang: week ${SC?.weekNr}/8, ${SC?.voortgangPct}% klaar — 1 motiverende zin\n2. Vandaag: ${SC?.isTrainingsdag ? '🏃 TRAININGSDAG — geef de exacte training letterlijk over uit het schema' : '😴 RUSTDAG — leg uit waarom rust ook training is'}\n3. Exacte instructie voor vandaag: kopieer de omschrijving letterlijk: \"${SC?.vandaagTraining?.omschrijving ?? SC?.volgendeTraining?.omschrijving ?? 'rustdag'}\"\n4. Volgende training: ${SC?.volgendeTraining?.datum} — kort wat te verwachten\n5. Aanpassing: schema is ${SC?.aanpassing === 'rust' ? 'omgezet naar RUSTDAG' : SC?.aanpassing === 'licht' ? 'VERLICHT' : 'NORMAAL gevolgd'} — leg in 1 zin uit waarom dit verstandig is op basis van readiness ${d.trainingReadiness?.score ?? 'n.b.'}/100 en ACWR ${d.trainingStatus?.acwrStatus ?? 'n.b.'}.\n6. Geef de exacte training van vandaag letterlijk over: \"${'${SC?.vandaagTraining?.omschrijving ?? \"rustdag\"}'}\"\n   Voeg daarna concrete hartslag-doelzone toe: Z1-Z2 = onder ${ Math.round((220 - LEEFTIJD) * 0.75) ?? 123}bpm.\n\n**📈 Doelen volgende week**\n3 meetbare doelen met getallen.\n\n**⚡ Acties voor vandaag**\n${vandaagGedaan.length > 0 ? '✅ Al gedaan: [activiteit + compliment]\\n➡️ Nog doen: [1 aanvullende actie]' : '➡️ [2 concrete acties]'}`;\n\nconst response = await this.helpers.request({\n  method: 'POST',\n  url: 'https://api.groq.com/openai/v1/chat/completions',\n  headers: {\n    'Authorization': `Bearer ${GROQ_API_KEY}`,\n    'Content-Type': 'application/json'\n  },\n  body: JSON.stringify({\n    model: 'llama-3.3-70b-versatile',\n    temperature: 0.6,\n    max_tokens: 5000,\n    messages: [\n      {\n        role: 'system',\n        content: `Je bent een directe, data-gedreven gezondheidscoach. Je analyseert Garmin data over 10 dagen.\\n\\nABSOLUTE KERNREGELS:\\n1. Gebruik ALTIJD de werkelijke getallen uit de data. NOOIT vage termen zonder getal erbij.\\n   FOUT: je body battery is laag | GOED: je body battery staat op 39/100, dat is 22pt onder je 21-daags gem van 61\\n   FOUT: je slaapt goed | GOED: slaapscore 86 is hoogste van 10 dagen (gem: 72)\\n2. Vergelijk ELKE waarde van vandaag altijd met het 21-daags gemiddelde.\\n3. Trends met richting en getal: rustpols daalde van 62 naar 56 bpm in 3 weken (-10%).\\n4. Kijk ALTIJD eerst naar activiteiten van vandaag. Als iemand al gesport heeft, erken dit DIRECT.\\n5. Geen dag-voor-dag opsommingen. Schrijf in trends, patronen en uitschieters.\\n6. Geen herhaling. Elk punt een keer.\\n7. Schrijf altijd in het Nederlands.\\n8. Context: gebruiker slaapt 21:00-21:30, bouwt voorzichtig op na jaren inactiviteit.\\n9. Elk advies bevat een specifiek getal: je intensieve minuten zijn 10/75 per week, voeg morgen 15 min Z2 toe.\\n10. Wees bondig en concreet, kwaliteit boven kwantiteit.`\n      },\n      { role: 'user', content: prompt }\n    ]\n  })\n});\n\nconst result = JSON.parse(response);\nconst analyse = result.choices?.[0]?.message?.content || 'Geen analyse beschikbaar';\nreturn [{ json: { analyse, garminData: d } }];"
      },
      "id": "[NODE ID 6]",
      "name": "Groq AI Analyse",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        912,
        608
      ]
    },
    {
      "parameters": {
        "jsCode": "const BASE = '[NAS IP]:8085';\n\nfunction datumGeleden(n) {\n  const d = new Date();\n  d.setDate(d.getDate() - n);\n  return d.toISOString().split('T')[0];\n}\n\nconst datums = [];\nfor (let i = 9; i >= 0; i--) datums.push(datumGeleden(i));\nconst vandaag = datums[datums.length - 1];\n\n// ── Per dag arrays ────────────────────────────────────────────────────────────\nconst slaapData    = [];\nconst stapsData    = [];\nconst hartslagData = [];\nconst stressData   = [];\nconst hrvData      = [];\nconst gewichtData  = [];\nconst hrZoneData   = [];\n\nfor (const datum of datums) {\n\n  // SLAAP\n  try {\n    const r = await this.helpers.request({ method:'GET', url:`${BASE}/slaap?datum=${datum}`, json:true });\n    const dto = r?.dailySleepDTO || {};\n    const scores = dto.sleepScores || {};\n    slaapData.push({\n      datum,\n      totaalUur:  Math.round((dto.sleepTimeSeconds  ||0)/360)/10,\n      diepUur:    Math.round((dto.deepSleepSeconds   ||0)/360)/10,\n      remUur:     Math.round((dto.remSleepSeconds    ||0)/360)/10,\n      lightUur:   Math.round((dto.lightSleepSeconds  ||0)/360)/10,\n      wakkerUur:  Math.round((dto.awakeSleepSeconds  ||0)/360)/10,\n      score:      scores.overall?.value      ?? null,\n      scoreDeep:  scores.deepSleep?.value    ?? null,\n      scoreRem:   scores.remSleep?.value     ?? null,\n      scoreRest:  scores.restfulness?.value  ?? null,\n      scoreDur:   scores.duration?.value     ?? null,\n      spo2Gem:    dto.averageSpO2Value        ?? null,\n      spo2Min:    dto.lowestSpO2Value         ?? null,\n      hrv:        dto.avgOvernightHrv         ?? null,\n      rustpols:   dto.restingHeartRate        ?? null,\n      bedtijd:    dto.sleepStartTimestampLocal ? new Date(dto.sleepStartTimestampLocal).toTimeString().slice(0,5) : null,\n      waaktijd:   dto.sleepEndTimestampLocal   ? new Date(dto.sleepEndTimestampLocal).toTimeString().slice(0,5)   : null,\n      ademhaling: dto.averageRespirationValue  ?? null,\n    });\n  } catch(e) {\n    slaapData.push({ datum, totaalUur:0, diepUur:0, remUur:0, lightUur:0, wakkerUur:0, score:null, scoreDeep:null, scoreRem:null, scoreRest:null, scoreDur:null, spo2Gem:null, spo2Min:null, hrv:null, rustpols:null, bedtijd:null, waaktijd:null, ademhaling:null });\n  }\n\n  // STATS\n  try {\n    const r = await this.helpers.request({ method:'GET', url:`${BASE}/stats?datum=${datum}`, json:true });\n    stapsData.push({\n      datum,\n      stappen:         r.totalSteps                  ?? 0,\n      stapDoel:        r.dailyStepGoal               ?? 0,\n      stapPct:         r.dailyStepGoal ? Math.round((r.totalSteps||0)/r.dailyStepGoal*100) : 0,\n      afstandM:        r.totalDistanceMeters          ?? 0,\n      calActief:       r.activeKilocalories           ?? 0,\n      calTotaal:       r.totalKilocalories            ?? 0,\n      calBMR:          r.bmrKilocalories              ?? 0,\n      gemStress:       r.averageStressLevel           ?? null,\n      maxStress:       r.maxStressLevel               ?? null,\n      bbHoog:          r.bodyBatteryHighestValue      ?? null,\n      bbLaag:          r.bodyBatteryLowestValue       ?? null,\n      bbHuidig:        r.bodyBatteryMostRecentValue   ?? null,\n      bbDelta:         (r.bodyBatteryHighestValue??0)-(r.bodyBatteryLowestValue??0),\n      rustpols:        r.restingHeartRate             ?? null,\n      maxHR:           r.maxHeartRate                 ?? null,\n      intensiteitMid:  r.moderateIntensityMinutes     ?? 0,\n      intensiteitHoog: r.vigorousIntensityMinutes     ?? 0,\n      sedentairSec:    r.sedentarySeconds             ?? 0,\n      slaapSec:        r.sleepingSeconds              ?? 0,\n      etages:          r.floorsAscended               ?? null,\n      spo2Gem:         r.averageSpo2                  ?? null,\n      ademhaling:      r.avgWakingRespirationValue    ?? null,\n    });\n  } catch(e) {\n    stapsData.push({ datum, stappen:0, stapDoel:0, stapPct:0, afstandM:0, calActief:0, calTotaal:0, calBMR:0, gemStress:null, maxStress:null, bbHoog:null, bbLaag:null, bbHuidig:null, bbDelta:0, rustpols:null, maxHR:null, intensiteitMid:0, intensiteitHoog:0, sedentairSec:0, slaapSec:0, etages:null, spo2Gem:null, ademhaling:null });\n  }\n\n  // HARTSLAG\n  try {\n    const r = await this.helpers.request({ method:'GET', url:`${BASE}/hartslag?datum=${datum}`, json:true });\n    hartslagData.push({\n      datum,\n      rustpols:    r.restingHeartRate                    ?? null,\n      minHR:       r.minHeartRate                        ?? null,\n      maxHR:       r.maxHeartRate                        ?? null,\n      gem7daags:   r.lastSevenDaysAvgRestingHeartRate    ?? null,\n    });\n  } catch(e) {\n    hartslagData.push({ datum, rustpols:null, minHR:null, maxHR:null, gem7daags:null });\n  }\n\n  // STRESS\n  try {\n    const r = await this.helpers.request({ method:'GET', url:`${BASE}/stress?datum=${datum}`, json:true });\n    const stressGem = r.averageStressLevel ?? r.avgStressLevel ?? r.dailyStressAvg ?? null;\n    const stressMax = r.maxStressLevel ?? r.maxStress ?? null;\n    const toDur = (v) => v ? Math.round(v / 60) : 0;\n    stressData.push({\n      datum,\n      gemStress: stressGem,\n      maxStress: stressMax,\n      rustMin:   toDur(r.restStressDuration   ?? r.restDuration   ?? 0),\n      laagMin:   toDur(r.lowStressDuration    ?? r.lowDuration    ?? 0),\n      middenMin: toDur(r.mediumStressDuration ?? r.mediumDuration ?? 0),\n      hoogMin:   toDur(r.highStressDuration   ?? r.highDuration   ?? 0),\n      totaalMin: toDur(r.totalStressDuration  ?? r.totalDuration  ?? 0),\n    });\n  } catch(e) {\n    stressData.push({ datum, gemStress:null, maxStress:null, rustMin:0, laagMin:0, middenMin:0, hoogMin:0, totaalMin:0 });\n  }\n\n  // HRV\n  try {\n    const r = await this.helpers.request({ method:'GET', url:`${BASE}/hrv?datum=${datum}`, json:true });\n    const s = r?.hrvSummary || {};\n    const dagWaarden = Array.isArray(r?.hrvReadings)\n      ? r.hrvReadings.map(v => v?.hrvValue ?? v ?? null).filter(v => v !== null)\n      : [];\n    hrvData.push({\n      datum,\n      weekGem:      s.weeklyAvg           ?? null,\n      vorigeNacht:  s.lastNight           ?? null,\n      vijfDaags:    s.lastFiveDaysAvg     ?? null,\n      status:       s.status              ?? null,\n      baselineLaag: s.baselineLowUpper    ?? null,\n      baselineHoog: s.baselineBalancedLow ?? null,\n      nachMin:      dagWaarden.length ? Math.min(...dagWaarden) : null,\n      nachMax:      dagWaarden.length ? Math.max(...dagWaarden) : null,\n      rmssd:        s.rmssd ?? s.avgHRV ?? null,\n    });\n  } catch(e) {\n    hrvData.push({ datum, weekGem:null, vorigeNacht:null, vijfDaags:null, status:null, baselineLaag:null, baselineHoog:null, nachMin:null, nachMax:null, rmssd:null });\n  }\n\n  // GEWICHT\n  try {\n    const r = await this.helpers.request({ method:'GET', url:`${BASE}/gewicht?datum=${datum}`, json:true });\n    const m = r?.dateWeightList?.[0];\n    gewichtData.push({\n      datum,\n      gewichtKg:    m?.weight ? Math.round(m.weight/10)/100 : null,\n      bmi:          m?.bmi          ?? null,\n      vetPct:       m?.bodyFat      ?? null,\n      spierpct:     m?.muscleMass   ?? null,\n      waterPct:     m?.bodyWater    ?? null,\n    });\n  } catch(e) {\n    gewichtData.push({ datum, gewichtKg:null, bmi:null, vetPct:null, spierpct:null, waterPct:null });\n  }\n\n  // HARTSLAG ZONES\n  try {\n    const r = await this.helpers.request({ method:'GET', url:`${BASE}/hartslagzones?datum=${datum}`, json:true });\n    const zones = Array.isArray(r?.heartRateZones) ? r.heartRateZones\n                : Array.isArray(r?.zones) ? r.zones\n                : Array.isArray(r) ? r : [];\n    const toMin = (s) => s ? Math.round(s / 60) : 0;\n    hrZoneData.push({\n      datum,\n      zone1Min: toMin(zones[0]?.secsInZone ?? zones[0]?.seconds ?? 0),\n      zone2Min: toMin(zones[1]?.secsInZone ?? zones[1]?.seconds ?? 0),\n      zone3Min: toMin(zones[2]?.secsInZone ?? zones[2]?.seconds ?? 0),\n      zone4Min: toMin(zones[3]?.secsInZone ?? zones[3]?.seconds ?? 0),\n      zone5Min: toMin(zones[4]?.secsInZone ?? zones[4]?.seconds ?? 0),\n    });\n  } catch(e) {\n    hrZoneData.push({ datum, zone1Min:0, zone2Min:0, zone3Min:0, zone4Min:0, zone5Min:0 });\n  }\n}\n\n// ── Activiteiten (laatste 15) ─────────────────────────────────────────────────\nlet activiteitenTekst = 'Geen activiteiten gevonden';\nlet activiteitenData  = [];\ntry {\n  const r = await this.helpers.request({ method:'GET', url:`${BASE}/activiteiten?limit=15`, json:true });\n  if (Array.isArray(r) && r.length > 0) {\n    activiteitenData = r;\n    activiteitenTekst = r.slice(0,10).map(a => {\n      const naam   = a.activityName || a.activityType?.typeKey || 'activiteit';\n      const datum  = (a.startTimeLocal||'').slice(0,10);\n      const duur   = Math.round((a.duration||0)/60);\n      const km     = a.distance    ? (Math.round(a.distance/100)/10)+'km' : '';\n      const hr     = a.averageHR   ? `gem HR:${a.averageHR}bpm` : '';\n      const cal    = a.calories    ? `${a.calories}kcal` : '';\n      const tempo  = a.averageSpeed && a.activityType?.typeKey?.includes('running')\n        ? `${Math.round(1000/a.averageSpeed/60)}:${String(Math.round(1000/a.averageSpeed%60)).padStart(2,'0')}/km` : '';\n      return `${datum}: ${naam} — ${duur}min ${[km,hr,cal,tempo].filter(Boolean).join(' ')}`;\n    }).join('\\n');\n  }\n} catch(e) {}\n\n// ── TRAINING READINESS (vandaag) ──────────────────────────────────────────────\n// Echte response: [{score:72, level:\"MODERATE\", feedbackShort:\"LISTEN_TO_YOUR_BODY\",\n//   feedbackLong:\"MOD_HRV_UNBALANCED\", sleepScore:80, recoveryTime:1, acuteLoad:56, ...}]\nlet trainingReadiness = null;\ntry {\n  const r = await this.helpers.request({ method:'GET', url:`${BASE}/training-readiness?datum=${vandaag}`, json:true });\n  const item = Array.isArray(r) ? r[r.length - 1] : r;\n  if (item && item.score != null) {\n    trainingReadiness = {\n      score:        item.score,\n      level:        item.level          ?? null,   // \"MODERATE\", \"HIGH\", \"LOW\"\n      feedbackKort: item.feedbackShort  ?? null,   // \"LISTEN_TO_YOUR_BODY\"\n      feedbackLang: item.feedbackLong   ?? null,   // \"MOD_HRV_UNBALANCED\"\n      slaapScore:   item.sleepScore     ?? null,\n      recoveryTime: item.recoveryTime   ?? null,\n      acuteLoad:    item.acuteLoad      ?? null,\n      hrv:          item.hrvWeeklyAverage ?? null,\n      // Vertaal level naar Nederlands\n      levelNL: (() => {\n        const l = (item.level || '').toUpperCase();\n        if (l === 'HIGH' || l === 'EXCELLENT')  return 'Klaar voor zware training';\n        if (l === 'MODERATE' || l === 'MEDIUM') return 'Matige trainingsbereidheid';\n        if (l === 'LOW' || l === 'POOR')        return 'Rust aanbevolen';\n        if (l === 'RECOVERY')                   return 'Hersteldag aanbevolen';\n        return item.level ?? null;\n      })(),\n    };\n  }\n} catch(e) { trainingReadiness = null; }\n\n// ── TRAINING STATUS (vandaag) ─────────────────────────────────────────────────\n// Echte response: {mostRecentTrainingStatus: {latestTrainingStatusData: {3491965705: {\n//   trainingStatus:5, trainingStatusFeedbackPhrase:\"RECOVERY_1\",\n//   acuteTrainingLoadDTO: {acwrStatus:\"LOW\", dailyTrainingLoadAcute:56, dailyTrainingLoadChronic:176}}}},\n//   mostRecentTrainingLoadBalance: {metricsTrainingLoadBalanceDTOMap: {3491965705: {\n//   monthlyLoadAerobicLow:97.5, monthlyLoadAerobicHigh:0, monthlyLoadAnaerobic:13.4,\n//   trainingBalanceFeedbackPhrase:\"AEROBIC_LOW_SHORTAGE\"}}},\n//   mostRecentVO2Max: {generic:null, cycling:null}}\nlet trainingStatus = null;\ntry {\n  const r = await this.helpers.request({ method:'GET', url:`${BASE}/training-status?datum=${vandaag}`, json:true });\n  if (r && typeof r === 'object') {\n    // Haal data op uit de geneste structuur\n    const statusObj = r.mostRecentTrainingStatus?.latestTrainingStatusData;\n    const deviceId  = statusObj ? Object.keys(statusObj)[0] : null;\n    const statusData = deviceId ? statusObj[deviceId] : null;\n    const acuut = statusData?.acuteTrainingLoadDTO || {};\n\n    const loadObj = r.mostRecentTrainingLoadBalance?.metricsTrainingLoadBalanceDTOMap;\n    const loadDeviceId = loadObj ? Object.keys(loadObj)[0] : null;\n    const loadData = loadDeviceId ? loadObj[loadDeviceId] : null;\n\n    const vo2obj = r.mostRecentVO2Max || {};\n\n    // trainingStatus nummers: 1=Piek, 2=Productief, 3=Onderhoud, 4=Herstel, 5=Herstel, 6=Onproductief, 7=Overtraining, 8=Detraining\n    const statusNrMap = {1:'🏆 Piekfase', 2:'📈 Productieve fase', 3:'➡️ Onderhoud', 4:'🔄 Herstelperiode', 5:'🔄 Herstelperiode', 6:'📉 Onproductieve fase', 7:'⚠️ Overbelasting', 8:'⬇️ Conditieverlies'};\n\n    trainingStatus = {\n      statusNr:        statusData?.trainingStatus    ?? null,\n      statusNL:        statusNrMap[statusData?.trainingStatus] ?? statusData?.trainingStatusFeedbackPhrase ?? null,\n      feedbackPhrase:  statusData?.trainingStatusFeedbackPhrase ?? null,\n      acuutLoad:       acuut.dailyTrainingLoadAcute   ?? null,\n      chronischLoad:   acuut.dailyTrainingLoadChronic  ?? null,\n      acwrStatus:      acuut.acwrStatus               ?? null,   // \"LOW\", \"OPTIMAL\", \"HIGH\"\n      acwrPct:         acuut.acwrPercent              ?? null,\n\n      // Maandelijkse belasting\n      aerobicLow:      loadData?.monthlyLoadAerobicLow        ?? null,\n      aerobicLowMin:   loadData?.monthlyLoadAerobicLowTargetMin ?? null,\n      aerobicLowMax:   loadData?.monthlyLoadAerobicLowTargetMax ?? null,\n      aerobicHigh:     loadData?.monthlyLoadAerobicHigh       ?? null,\n      aerobicHighMin:  loadData?.monthlyLoadAerobicHighTargetMin ?? null,\n      aerobicHighMax:  loadData?.monthlyLoadAerobicHighTargetMax ?? null,\n      anaerobic:       loadData?.monthlyLoadAnaerobic          ?? null,\n      anaerobicMax:    loadData?.monthlyLoadAnaerobicTargetMax  ?? null,\n      balanceFeedback: loadData?.trainingBalanceFeedbackPhrase  ?? null, // \"AEROBIC_LOW_SHORTAGE\"\n\n      // VO2max (null als geen GPS-lopen)\n      vo2maxGeneric:   vo2obj.generic    ?? null,\n      vo2maxCycling:   vo2obj.cycling    ?? null,\n    };\n  }\n} catch(e) { trainingStatus = null; }\n\n// ── RACE PREDICTIONS ──────────────────────────────────────────────────────────\n// Echte response: {time5K:2080000, time10K:4655000, timeHalfMarathon:11582000, timeMarathon:27187000, ...}\n// TIJDEN ZIJN IN MILLISECONDEN\nlet racePredictions = null;\ntry {\n  const r = await this.helpers.request({ method:'GET', url:`${BASE}/race-predictions`, json:true });\n  const item = Array.isArray(r) ? r[0] : r;\n  if (item && (item.time5K || item.time10K)) {\n    // API geeft seconden terug (niet milliseconden)\n    const msToTijd = (sec) => {\n      if (!sec) return null;\n      const totSec = Math.round(sec);\n      const uur  = Math.floor(totSec / 3600);\n      const min  = Math.floor((totSec % 3600) / 60);\n      const s    = totSec % 60;\n      return uur > 0\n        ? `${uur}:${String(min).padStart(2,'0')}:${String(s).padStart(2,'0')}`\n        : `${min}:${String(s).padStart(2,'0')}`;\n    };\n    const pace5K = item.time5K ? (() => {\n      const secPer = Math.round(item.time5K / 5);\n      return `${Math.floor(secPer/60)}:${String(secPer%60).padStart(2,'0')}/km`;\n    })() : null;\n    racePredictions = {\n      vijfKm:        msToTijd(item.time5K),\n      tienKm:        msToTijd(item.time10K),\n      halveMarathon: msToTijd(item.timeHalfMarathon),\n      marathon:      msToTijd(item.timeMarathon),\n      pace5K,\n    };\n  }\n} catch(e) { racePredictions = null; }\n\n// ── FITNESS LEEFTIJD (vandaag) ────────────────────────────────────────────────\n// Echte response: {fitnessAge:51, achievableFitnessAge:47, chronologicalAge:54,\n//   components: {rhr:{value:59}, vigorousDaysAvg:{value:0.3, targetValue:3},\n//   vigorousMinutesAvg:{value:9.1, targetValue:75}, bmi:{value:24.5}}}\nlet fitnessLeeftijd = null;\ntry {\n  const r = await this.helpers.request({ method:'GET', url:`${BASE}/fitnessleeftijd?datum=${vandaag}`, json:true });\n  if (r && r.fitnessAge != null) {\n    const comp = r.components || {};\n    fitnessLeeftijd = {\n      fitnessAge:      r.fitnessAge,\n      haalbaarAge:     r.achievableFitnessAge ? Math.round(r.achievableFitnessAge) : null,\n      chronologischAge: r.chronologicalAge    ?? null,\n      rhr:             comp.rhr?.value        ?? null,\n      intensieveDagen: comp.vigorousDaysAvg?.value   ?? null,\n      intensieveDagenDoel: comp.vigorousDaysAvg?.targetValue ?? 3,\n      intensieveMin:   comp.vigorousMinutesAvg?.value ?? null,\n      intensieveMinDoel: comp.vigorousMinutesAvg?.targetValue ?? 75,\n      bmi:             comp.bmi?.value        ?? null,\n      bmiDoel:         comp.bmi?.targetValue  ?? null,\n    };\n  }\n} catch(e) { fitnessLeeftijd = null; }\n\n// ── PERSOONLIJKE RECORDS ──────────────────────────────────────────────────────\n// typeId mapping: 1=Snelste mijl, 2=Langste afstand, 4=Snelste 5K, 5=Snelste 10K,\n// 6=Snelste HM, 7=Langste activiteit, 10=Meeste stappen, etc.\nlet persoonlijkeRecords = null;\ntry {\n  const r = await this.helpers.request({ method:'GET', url:`${BASE}/persoonlijke-records`, json:true });\n  if (Array.isArray(r) && r.length > 0) {\n    const typeNamen = {1:'Snelste mijl', 2:'Langste afstand', 4:'Snelste 5K', 5:'Snelste 10K', 6:'Snelste halve marathon', 7:'Langste run', 9:'Max snelheid', 10:'Meeste stappen'};\n    persoonlijkeRecords = r.map(rec => ({\n      typeId:       rec.typeId,\n      typeNaam:     typeNamen[rec.typeId] ?? `Type ${rec.typeId}`,\n      waarde:       Math.round(rec.value * 10) / 10,\n      activiteitNaam: rec.activityName ?? null,\n      datum:        rec.actStartDateTimeInGMTFormatted?.slice(0,10) ?? null,\n      activityType: rec.activityType  ?? null,\n    }));\n  }\n} catch(e) { persoonlijkeRecords = null; }\n\n// ── Gemiddelden & trends ──────────────────────────────────────────────────────\nconst geldigeSlaap    = slaapData.filter(d=>d.totaalUur>0);\nconst gemSlaapUur     = geldigeSlaap.length ? Math.round(geldigeSlaap.reduce((s,d)=>s+d.totaalUur,0)/geldigeSlaap.length*10)/10 : 0;\nconst geldigeScores   = slaapData.filter(d=>d.score);\nconst gemSlaapScore   = geldigeScores.length ? Math.round(geldigeScores.reduce((s,d)=>s+d.score,0)/geldigeScores.length) : 0;\nconst nDagen          = stapsData.length;\nconst gemStappen      = Math.round(stapsData.reduce((s,d)=>s+d.stappen,0)/nDagen);\nconst bbItems         = stapsData.filter(d=>d.bbHuidig);\nconst gemBB           = bbItems.length ? Math.round(bbItems.reduce((s,d)=>s+d.bbHuidig,0)/bbItems.length) : null;\nconst dagenDoelGehaald = stapsData.filter(d=>d.stapPct>=100).length;  // van 21 dagen\nconst gemSedentairUur  = Math.round(stapsData.reduce((s,d)=>s+(d.sedentairSec||0),0)/nDagen/360)/10;\nconst totaalIntMid     = stapsData.reduce((s,d)=>s+d.intensiteitMid,0);\nconst totaalIntHoog    = stapsData.reduce((s,d)=>s+d.intensiteitHoog,0);\nconst geldigeHR        = hartslagData.filter(d=>d.rustpols);\nconst gemRustpols      = geldigeHR.length ? Math.round(geldigeHR.reduce((s,d)=>s+d.rustpols,0)/geldigeHR.length) : null;\nconst geldigeStress    = stressData.filter(d=>d.gemStress);\nconst gemStressWeek    = geldigeStress.length ? Math.round(geldigeStress.reduce((s,d)=>s+d.gemStress,0)/geldigeStress.length) : null;\nconst geldigeHRV       = hrvData.filter(d=>d.weekGem);\nconst gemHRV           = geldigeHRV.length ? Math.round(geldigeHRV.reduce((s,d)=>s+d.weekGem,0)/geldigeHRV.length) : null;\nconst geldigGewicht    = gewichtData.filter(d=>d.gewichtKg);\nconst gewichtHuidig    = geldigGewicht.length ? geldigGewicht[geldigGewicht.length-1].gewichtKg : null;\nconst gewichtDelta     = geldigGewicht.length>1 ? Math.round((geldigGewicht[geldigGewicht.length-1].gewichtKg - geldigGewicht[0].gewichtKg)*10)/10 : null;\n\nconst eersteHelft  = slaapData.slice(0,5).filter(d=>d.totaalUur>0);\nconst tweedeHelft = slaapData.slice(-7).filter(d=>d.totaalUur>0);\nconst slaapTrend  = eersteHelft.length && tweedeHelft.length\n  ? Math.round(((tweedeHelft.reduce((s,d)=>s+d.totaalUur,0)/tweedeHelft.length)-(eersteHelft.reduce((s,d)=>s+d.totaalUur,0)/eersteHelft.length))*10)/10\n  : 0;\n\nconst bestesSlaapDag      = [...slaapData].filter(d=>d.score).sort((a,b)=>b.score-a.score)[0];\nconst slechtesteSlaapDag  = [...slaapData].filter(d=>d.score).sort((a,b)=>a.score-b.score)[0];\nconst meesteStappenDag    = [...stapsData].sort((a,b)=>b.stappen-a.stappen)[0];\n\n// ── AI-leesbare teksten ───────────────────────────────────────────────────────\nconst slaapTekst = slaapData.map((d,i) => {\n  const prev = i>0 ? slaapData[i-1] : null;\n  const sd = prev?.score && d.score ? (d.score-prev.score>0?`▲${d.score-prev.score}`:`▼${Math.abs(d.score-prev.score)}`) : '';\n  return `${d.datum}${i===6?' (VANDAAG)':''}: ${d.totaalUur}u | diep:${d.diepUur}u REM:${d.remUur}u licht:${d.lightUur}u | score:${d.score??'n.b.'} ${sd} | SpO2:${d.spo2Gem??'n.b.'}% | HRV:${d.hrv??'n.b.'} | rustpols:${d.rustpols??'n.b.'}bpm | bed:${d.bedtijd??'n.b.'} op:${d.waaktijd??'n.b.'} | adem:${d.ademhaling??'n.b.'}/min`;\n}).join('\\n');\n\nconst stappenTekst = stapsData.map((d,i) => {\n  const status = d.stapPct>=100?'✅':d.stapPct>=75?'🟡':'❌';\n  const sedUur = Math.round((d.sedentairSec||0)/360)/10;\n  return `${d.datum}${i===6?' (VANDAAG)':''}: ${d.stappen} ${status} (${d.stapPct}%) | BB laag:${d.bbLaag??'n.b.'} hoog:${d.bbHoog??'n.b.'} | rustpols:${d.rustpols??'n.b.'}bpm | int mid:${d.intensiteitMid}min hoog:${d.intensiteitHoog}min | sedentair:${sedUur}u`;\n}).join('\\n');\n\nconst stressTekstWeek = stressData.map((d,i) => {\n  return `${d.datum}${i===6?' (VANDAAG)':''}: gem:${d.gemStress??'n.b.'} | max:${d.maxStress??'n.b.'} | rust:${d.rustMin}min laag:${d.laagMin}min midden:${d.middenMin}min hoog:${d.hoogMin}min`;\n}).join('\\n');\n\nconst hrvTekstWeek = hrvData.map((d,i) => {\n  return `${d.datum}${i===6?' (VANDAAG)':''}: weekgem:${d.weekGem??'n.b.'} | nacht:${d.vorigeNacht??'n.b.'} | 5-daags:${d.vijfDaags??'n.b.'} | nachMin:${d.nachMin??'n.b.'} nachMax:${d.nachMax??'n.b.'}`;\n}).join('\\n');\n\nconst gewichtTekstWeek = gewichtData.map((d,i) => {\n  return `${d.datum}${i===6?' (VANDAAG)':''}: ${d.gewichtKg??'geen meting'}kg | BMI:${d.bmi??'n.b.'}`;\n}).join('\\n');\n\nconst hrZoneTekst = hrZoneData.map((d,i) => {\n  const tot = d.zone1Min+d.zone2Min+d.zone3Min+d.zone4Min+d.zone5Min;\n  return `${d.datum}${i===6?' (VANDAAG)':''}: Z1:${d.zone1Min}min Z2:${d.zone2Min}min Z3:${d.zone3Min}min Z4:${d.zone4Min}min Z5:${d.zone5Min}min totaal:${tot}min`;\n}).join('\\n');\n\nconst readinessTekst = trainingReadiness\n  ? `Score: ${trainingReadiness.score}/100 | Level: ${trainingReadiness.level} (${trainingReadiness.levelNL}) | Feedback: ${trainingReadiness.feedbackKort} — ${trainingReadiness.feedbackLang} | Slaapscore: ${trainingReadiness.slaapScore} | Hersteltijd: ${trainingReadiness.recoveryTime}u | Acuut load: ${trainingReadiness.acuteLoad} | HRV weekgem: ${trainingReadiness.hrv}`\n  : 'Niet beschikbaar';\n\nconst statusTekst = trainingStatus\n  ? `Status: ${trainingStatus.statusNL} (nr ${trainingStatus.statusNr}) | ACWR: ${trainingStatus.acwrStatus} ${trainingStatus.acwrPct}% | Acuut load: ${trainingStatus.acuutLoad} | Chronisch load: ${trainingStatus.chronischLoad} | Aerobic low: ${trainingStatus.aerobicLow}/${trainingStatus.aerobicLowMin}-${trainingStatus.aerobicLowMax} | Aerobic high: ${trainingStatus.aerobicHigh}/${trainingStatus.aerobicHighMin}-${trainingStatus.aerobicHighMax} | Balans: ${trainingStatus.balanceFeedback} | VO2max: ${trainingStatus.vo2maxGeneric??'n.b.'}`\n  : 'Niet beschikbaar';\n\nconst fitnessLeeftijdTekst = fitnessLeeftijd\n  ? `Fitness leeftijd: ${fitnessLeeftijd.fitnessAge} | Haalbaar: ${fitnessLeeftijd.haalbaarAge} | Chronologisch: ${fitnessLeeftijd.chronologischAge} | RHR: ${fitnessLeeftijd.rhr} | Intensieve dagen: ${fitnessLeeftijd.intensieveDagen}/${fitnessLeeftijd.intensieveDagenDoel}/week | Intensieve min: ${fitnessLeeftijd.intensieveMin}/${fitnessLeeftijd.intensieveMinDoel}/week | BMI: ${fitnessLeeftijd.bmi}`\n  : 'Niet beschikbaar';\n\nconst recordsTekst = persoonlijkeRecords\n  ? persoonlijkeRecords.map(r => `${r.typeNaam}: ${r.waarde} (${r.datum})`).join(' | ')\n  : 'Niet beschikbaar';\n\nconst raceTekst = racePredictions\n  ? `5K: ${racePredictions.vijfKm} (${racePredictions.pace5K}) | 10K: ${racePredictions.tienKm} | HM: ${racePredictions.halveMarathon} | Marathon: ${racePredictions.marathon}`\n  : 'Geen race predictions beschikbaar';\n\n// Vandaag detectie voor activiteiten\nconst activiteitenRegels = activiteitenTekst.split('\\n');\nconst vandaagGedaan = activiteitenRegels.filter(r => r.startsWith(vandaag));\n\nreturn [{ json: {\n  slaapTekst, stappenTekst, stressTekstWeek, hrvTekstWeek, gewichtTekstWeek,\n  hrZoneTekst, readinessTekst, statusTekst, fitnessLeeftijdTekst, recordsTekst, raceTekst,\n  activiteitenTekst, vandaagGedaan,\n  // Ruwe arrays voor grafieken\n  slaapData, stapsData, hartslagData, stressData, hrvData, gewichtData, hrZoneData,\n  // Eenmalige objecten\n  trainingReadiness, trainingStatus, fitnessLeeftijd, racePredictions, persoonlijkeRecords,\n  gemiddelden: {\n    slaapUur: gemSlaapUur, slaapScore: gemSlaapScore,\n    stapDoel: stapsData.find(d => d.stapDoel > 0)?.stapDoel ?? 0,\n    gemStappen, gemBodyBattery: gemBB,\n    gemRustpols, gemStressWeek, gemHRV,\n    gewichtHuidig, gewichtDelta,\n    vo2maxHuidig: trainingStatus?.vo2maxGeneric ?? null,\n  },\n  trends: {\n    slaapTrend, dagenDoelGehaald, gemSedentairUur,\n    totaalIntMid, totaalIntHoog,\n    bestesSlaapDag: bestesSlaapDag?.datum,\n    bestesSlaapScore: bestesSlaapDag?.score,\n    slechtesteSlaapDag: slechtesteSlaapDag?.datum,\n    slechtesteSlaapScore: slechtesteSlaapDag?.score,\n    meesteStappenDag: meesteStappenDag?.datum,\n    meesteStappen: meesteStappenDag?.stappen,\n  }\n} }];"
      },
      "id": "[NODE ID 7]",
      "name": "Haal alle Garmin data op",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        608
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            },
            {
              "triggerAtHour": 18
            }
          ]
        }
      },
      "id": "[NODE ID 8]",
      "name": "Elke ochtend 08:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        192,
        608
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Haal 5K Schema Op": {
      "main": [
        [
          {
            "node": "Groq AI Analyse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Laad Advies Geheugen": {
      "main": [
        [
          {
            "node": "Haal 5K Schema Op",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sla Adviezen Op": {
      "main": [
        [
          {
            "node": "Maak HTML rapport",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Maak HTML rapport": {
      "main": [
        [
          {
            "node": "Send an Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq AI Analyse": {
      "main": [
        [
          {
            "node": "Sla Adviezen Op",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Haal alle Garmin data op": {
      "main": [
        [
          {
            "node": "Laad Advies Geheugen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Elke ochtend 08:00": {
      "main": [
        [
          {
            "node": "Haal alle Garmin data op",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "[VERSION ID]",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "[INSTANCE ID]"
  },
  "id": "[CREDENTIAL ID]",
  "tags": [
    {
      "updatedAt": "2026-03-10T13:55:15.647Z",
      "createdAt": "2026-03-06T20:36:20.944Z",
      "id": "[CREDENTIAL ID]",
      "name": "Productie flows n8n"
    }
  ]
}
